<template>
  <div class="c-app" id="myDiv">
    <TheSidebar/>
    <CWrapper>
      <TheHeader/>
      <div class="c-body">
        <main class="c-main">
          <CContainer fluid>
            <transition name="fade">
              <router-view></router-view>
            </transition>
          </CContainer>
        </main>
      </div>
      <TheFooter/>
    </CWrapper>
     <contact-us v-on:click="click()" />
  </div>
</template>

<script>
import TheSidebar from './TheSidebar'
import TheHeader from './TheHeader'
import TheFooter from './TheFooter'
import ContactUs from "../components/ContactUs";

export default {
  name: 'TheContainer',
  components: {
    TheSidebar,
    TheHeader,
    TheFooter,
    ContactUs
  },
    data() {
    return {
      isClicked: false,
    };
  },
    mounted: function () {
    this.root = document.getElementsByClassName("c-app");

  },
    watch: {
    isClicked: {
      handler: function () {
        // because we are using this handler immideatly we need to wait for data changes using nextTick.
        this.$nextTick(() => {
          if (this.isClicked ) { 
           var elem = document.getElementById("myDiv");     
            elem.classList.add("c-dark-theme");  // Add dark class
            localStorage.setItem('theme', 'dark');
          
          } else {
           var elem1 = document.getElementById("myDiv");     
           
            elem1.classList.remove("c-dark-theme");     // remove dark class
            localStorage.removeItem('theme');
          }
        });
      },
      immediate: true,
    },
  },
    methods: {
    click() {
      this.isClicked = !this.isClicked;
    },
  },
}

</script>

<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>
