// Here you can add other styles
.c-app{
    font-family: Poppins Regular;
}
.c-app .c-sidebar .c-sidebar-brand, .c-dark-theme .c-sidebar .c-sidebar-header{
    padding: 0px 16px;
    text-align: left;
    font-size: 21px;
    justify-content: left;

}
.c-sidebar-nav-dropdown-toggle, .c-sidebar-nav-link{
    font-size: 15px;
    // padding: 16px 10px;
    font-family: Poppins Light;
}
.c-dark-theme{
    // Referral Page
    .referral_link {
        .input_section {
            button{
                .icon{
                    svg{
                        color: #ffffff;
                    }
                }
            }
        }
    }
    // Buy Sell Page
    .buy_sell_page .main_table .nav-link.active{
        border-bottom-color: #ffffff;
    }
    .buy_sell_page .make_publication .publication_section .section textarea{
        background-color: hsla(0,0%,100%,.05);
        border-color: hsla(0,0%,100%,.09);
        color: hsla(0,0%,100%,.87);
        border-radius: 0.25rem;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
    }
}