<template>
  <CCard>
    <CCardHeader class="col-md-9">
      <slot name="header">
        <!-- <CIcon name="cil-grid"/>  -->
        {{caption}}
      </slot>
    </CCardHeader>
    <CCardBody class="col-md-9">
      <CDataTable
        :hover="hover"
        :striped="striped"
        :bordered="bordered"
        :small="small"
        :fixed="fixed"
        :items="items"
        :fields="fields"
        :items-per-page="small ? 10 : 5"
        :dark="dark"
        
      >
        <template #confidenceLevel="{item}">
          <td>
           <CProgress :color="getColor(item.confidenceLevel)" :value="item.confidenceLevel" class="mb-3 mt-3"/>
          </td>
        </template>
      </CDataTable>
    </CCardBody>
  </CCard>
</template>

<script>
export default {
  name: 'Table',
  props: {
    items: Array,
    fields: {
      type: Array,
      default () {
        return ['Sno', 'username', 'confidenceLevel','referralTransaction','earning']
      }
    },
    caption: {
      type: String,
      default: 'Referral Transaction'
    },
    hover: Boolean,
    striped: Boolean,
    bordered: Boolean,
    small: Boolean,
    fixed: Boolean,
    dark: Boolean
  },
  methods: {
    getColor(confidenceLevel) {
      return confidenceLevel === 50 ? 'warning'
        : confidenceLevel > 50 ? 'success'
        : confidenceLevel < 50 ? 'danger' : 'warning'
    }
  }
}
</script>
