<template>
  <CCard>
    <!-- <CCardHeader>
      <slot name="header">
        <CIcon name="cil-grid"/> 
        {{caption}}
      </slot>
    </CCardHeader> -->
    <CCardBody>
      <CDataTable
        :hover="hover"
        :striped="striped"
        :bordered="bordered"
        :small="small"
        :fixed="fixed"
        :items="items"
        :fields="fields"
        :items-per-page="small ? 10 : 5"
        :dark="dark"
        
      >
        <template #buy="{item}">
          <td>
            <CBadge class="buy_coin" :color="getBadge(item.buy)">{{item.buy}}</CBadge>
          </td>
        </template>
        <template #confidenceLevel="{item}">
          <td>
           <CProgress :value="item.confidenceLevel" :color="getColor(item.confidenceLevel)" class="mb-3"/>
          </td>
        </template>
      </CDataTable>
    </CCardBody>
  </CCard>
</template>


<script>
export default {
    data(){
    return{
      buy_coin: '',
    }
    },
  name: 'Table',
  props: {
    items: Array,
    fields: {
      type: Array,
      default () {
        return ['Sno', 'username', 'status', 'confidenceLevel','paymentMethod','limit','price', 'buy']
      }
    },
    caption: {
      type: String,
      default: 'Table'
    },
    hover: Boolean,
    striped: Boolean,
    bordered: Boolean,
    small: Boolean,
    fixed: Boolean,
    dark: Boolean
  },
  methods: {
    getBadge (buy) {
      return buy === 'Sell' ? 'success'
        : buy === 'Buy' ? 'info' : 'primary'
    },
    getColor(confidenceLevel) {
      return confidenceLevel === 50 ? 'warning'
        : confidenceLevel > 50 ? 'success'
        : confidenceLevel < 50 ? 'danger' : 'warning'
    }
  }
}
</script>
