<template>
  <CCard>
    <CCardHeader>
      <slot name="header">
        <!-- <CIcon name="cil-grid"/>  -->
        {{caption}}
      </slot>
    </CCardHeader>
    <CCardBody>
      <CDataTable
        :hover="hover"
        :striped="striped"
        :bordered="bordered"
        :small="small"
        :fixed="fixed"
        :items="items"
        :fields="fields"
        :items-per-page="small ? 10 : 5"
        :dark="dark"
        
      >
        <template #status="{item}">
          <td>
            <CBadge :class="getBadge(item.status)" :color="getBadge(item.status)">{{item.status}}</CBadge>
          </td>
        </template>
        <template #amount="{item}">
          <td>
            <span><img style="margin-right:10px;" src="../../assets/images/B_coin_small.svg" />{{item.amount}}</span>
          </td>
        </template>
      </CDataTable>
    </CCardBody>
  </CCard>
</template>

<script>
export default {
  name: 'Table',
  props: {
    items: Array,
    fields: {
      type: Array,
      default () {
        // return ['Sno', 'username', 'status', 'confidenceLevel','paymentMethod','limit','price']
        return ['sno', 'date','amount', 'price',  'status']
      }
    },
    caption: {
      type: String,
      default: 'Table'
    },
    hover: Boolean,
    striped: Boolean,
    bordered: Boolean,
    small: Boolean,
    fixed: Boolean,
    dark: Boolean
  },
  methods: {
    getBadge (status) {
      return status === 'Sell' ? 'success'
        : status === 'Buy' ? 'info'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    }
  }
}
</script>
