<template>
  <div class="buy_sell_page">
    <CRow>
      <CCol lg="9">
        <CCol lg="12">
          <div class="filter_section row ">
            <div class="col-md-10 d-flex" style="padding: 10px 0px 10px 0px">
              <div class="col-md-3 filter_container amount">
                <b-form-select
                  v-model="selected_amount"
                  :options="amount"
                ></b-form-select>
              </div>
              <div class="col-md-3 filter_container method">
                <b-form-select
                  v-model="selected_method"
                  :options="method"
                ></b-form-select>
              </div>
              <div class="col-md-2 filter_container currency">
                <b-form-select
                  v-model="selected_currency"
                  :options="currency"
                ></b-form-select>
              </div>
              <div class="col-md-4 filter_container country">
                <b-form-select
                  v-model="selected_country"
                  :options="country"
                ></b-form-select>
              </div>
            </div>

            <div class="col-md-2 filter_container search">
              <!-- <div class="search-icon"></div> -->
              <span>Filter</span>
            </div>
          </div>
        </CCol>
        <CCol lg="12" class="main_table">
          <CCard>
            <CCardBody>
              <CTabs variant="pills">
                <CTab title="My Publications" active>
                  <CTableWrapper1
                    class="border-10"
                    :items="getShuffledUsersData()"
                  >
                  </CTableWrapper1>
                </CTab>
                <CTab title="Purchase Publications">
                  <CTableWrapper1
                    class="border-10"
                    :items="getShuffledUsersData()"
                  >
                  </CTableWrapper1>
                </CTab>
              </CTabs>
            </CCardBody>
          </CCard>
        </CCol>
      </CCol>
      <CCol lg="3" class="make_publication">
        <CRow>
          <CCol lg="12">
            <CCard class="border-10">
              <CCardHeader>
                <!-- <CIcon name="cil-justify-center" /> -->
                <strong> Make Publication </strong>
              </CCardHeader>
              <CCardBody>
                <div class="publication_section mb-5 mt-3">
                  <div class="section currency-section mt-3 mb-3">
                    <label>Currency </label>
                   <b-form-select
                  v-model="selected_currencyc"
                  :options="currency"
                ></b-form-select>
                  </div>
                  <div class="section price-section mt-3 mb-3">
                    <label>Price </label>
                    <b-input type="text"></b-input>
                  </div>
                  <div class="section payment-section mt-3 mb-3">
                    <label>Payment Method </label>
                    <b-input type="text"></b-input>
                  </div>
                  <div class="section quantity-section mt-3 mb-3">
                    <label>Quantity </label>
                    <b-input type="text"></b-input>
                  </div>
                  <div class="section requirements-section mt-3 mb-3">
                    <label>Requirements </label>
                    <textarea class="w-100" rows="9"></textarea>
                  </div>
                 
                </div>
                 <b-button class="create_publication mb-5" variant="primary">Create Publication</b-button>
              </CCardBody>
            </CCard>
          </CCol>
        </CRow>
      </CCol>
    </CRow>
  </div>
</template>
<style lang="scss">
header {
  color: inherit;
}
.table thead th {
  border-top: none;
}
.table th,
.table td {
  border-top: 0;
  padding: 10px 10px;
}
.buy_sell .table thead th {
  border-bottom: 0;
}
.main_table {
  .card {
    .card-body {
      // padding: 0;
    }
  }
}
.filter_section {
  width: 100%;
  text-align: center;
  border: 1px solid #00344e;
  // padding: 15px 20px;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 16px;
  font-family: Poppins Regular;
  margin-bottom: 25px;

  .filter_container {
    padding-top: 10px;
    padding-bottom: 15px;

    select {
      background: transparent;
      color: inherit;
      border: none;
      font-size: 16px;
      letter-spacing: 1px;
      padding-top: 4px;
      padding-bottom: 0;
      padding-right: 15px;
      -webkit-appearance: menulist !important;
      -moze-appearance: menulist !important;
      appearance: menulist !important;

      &:focus {
        outline: none;
        border: none;
        box-shadow: none;
      }
    }
  }

  .amount {
  }

  .method {
    border-left: 1px solid #00344e;
  }

  .currency {
    border-left: 1px solid #00344e;
  }

  .country {
    border-left: 1px solid #00344e;
  }

  .search {
    text-align: center;
    background-color: #ff5b5b;
    color: #ffffff;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    padding: 0;
    span {
      margin: 30px 10px;
      width: 90%;
      display: block;
      font-family: Poppins Regular;
      font-size: 17px;
      text-transform: uppercase;
    }
    .search-icon {
      background-image: url(../assets/images/search.svg);
      height: 35px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 30px;
      margin: 0 auto;
    }
  }
}
.list-group-item {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-item:last-child {
  border-bottom: none;
}
.border-10 {
  border-radius: 10px;
}
</style>
<script>
import CTableWrapper1 from "./base/MyPublications.vue";
import myPublications from "./users/myPublications";

export default {
  name: "Tables",
  components: { CTableWrapper1 },
  data() {
    return {
      selected_amount: "a",
      selected_method: null,
      selected_country: null,
      selected_currency: "a",
      selected_currencyc: "c",
      amount: [
        { value: null, text: "Amount" },
        { value: "a", text: "$25,000" },
        { value: "b", text: "Selected Option" },
      ],
      method: [
        { value: null, text: "Payment Method" },
        { value: "a", text: "This is First option" },
        { value: "b", text: "Selected Option" },
      ],
      currency: [
        { value: null, text: "Currency" },
        { value: "a", text: "Dollar" },
        { value: "b", text: "Rupee" },
        { value: "c", text: "Bitcoin" },
      ],
      country: [
        { value: null, text: "Amount" },
        { value: "a", text: "1" },
        { value: "b", text: "2" },
      ],
    };
  },
  methods: {
    shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        let temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
      return array;
    },
    getShuffledUsersData() {
      // return this.shuffleArray(usersData.slice(0))
      return myPublications.slice(0);
    },
  },
};
</script>
