<template>

  <div class="CalculationsPage">
    <CRow>
      <CCol lg="12">
        <CCol lg="12" class="referral_link">
          <div class="card">
            <div class="heading">Calculation and projection</div>
            <div class="calculate_section d-flex">
              <div class="section1 section d-flex">
                <b-input type="number" v-model="input1"></b-input>
                 <b-form-select
                  v-model="currency1"
                  :options="currency"
                ></b-form-select>
              </div>
              <div class="converter">
                <div class="icon" @click="swap">
                  <b-icon-arrow-left-right></b-icon-arrow-left-right>
                </div>
              </div>
              <div class="section2 section d-flex">
                  <b-input type="number" v-model="input2"></b-input>
                 <b-form-select
                  v-model="currency2"
                  :options="currency"
                ></b-form-select>
              </div>
            </div>
            <div class="calculate_section_lower">
              <div class="amount">
                ${{input2}}
              </div>
              <div class="currency">
                <b-form-select
                  v-model="currency2"
                  :options="currency"
                ></b-form-select>
              </div>
            </div>
          </div>
        </CCol>
        <CCol lg="12" class="d-flex p-0">
        <CCol lg="6" class="main_table">
           <CCol lg="12" class="referral_link p-0">
          <div class="card">
            <div class="heading mb-3">Calculation and projection</div>
            <div class="calculate_section  d-flex">
              <div class="section1 section">
                <b-input type="number" v-model="input1_another"></b-input>
                 <b-form-select
                  v-model="currency1_another"
                  :options="currency"
                ></b-form-select>
              </div>
              <div class="converter">
                <div class="icon" @click="swap_another">
                  <b-icon-arrow-left-right></b-icon-arrow-left-right>
                </div>
              </div>
              <div class="section2 section">
                  <b-input type="number" v-model="input2_another"></b-input>
                 <b-form-select
                  v-model="currency2_another"
                  :options="currency"
                ></b-form-select>
              </div>
            </div>
            <b-button class="create_publication mb-5 w-50 mt-5" variant="primary">Set Alert</b-button>
          </div>
        </CCol>
        </CCol>
         <CCol lg="6" class="main_table">
           <CCol lg="12" class="referral_link p-0">
          <div class="card">
            <div class="heading mb-3">Cryptocurrency Graph</div>
            <CChartLineExample/>
          </div>
        </CCol>
        </CCol>
        </CCol>
      </CCol>
    </CRow>
  </div>
</template>
<style lang="scss">
</style>
<script>
// import CTableWrapper2 from "./base/Table3.vue";

import referralTransaction from "./users/referralTransaction";
import * as Charts from '../views/charts/index'

export default {
  name: "Tables",
  // components: { CTableWrapper2 },
  components: {
    ...Charts
  },
  data() {
    return {  
      input1: 1,
      input2: 13.25332,
      currency1: "c",
      currency2: "e",
      currency1_another: "c",
      currency2_another: "e",
      input1_another: 1,
      input2_another: 13.25332,
      currency: [
        { value: null, text: "Currency" },
        { value: "a", text: "Dollar" },
        { value: "b", text: "Rupee" },
        { value: "c", text: "Bitcoin" },
        { value: "d", text: "American Dollar" },
        { value: "e", text: "Australian Dollar" },
      ],
      
    };
  },
  methods: {
    swap_another(){
      let temp_another = this.input1_another;
      this.input1_another = this.input2_another;
      this.input2_another = temp_another;
      let tempselect_another = this.currency1_another;
      this.currency1_another = this.currency2_another;
      this.currency2_another = tempselect_another
    },
    swap(){
      let temp = this.input1;
      this.input1 = this.input2;
      this.input2 = temp;
      let tempselect = this.currency1;
      this.currency1 = this.currency2
      this.currency2 = tempselect
    },
    shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        let temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
      return array;
    },

    getShuffledUsersData() {
      // return this.shuffleArray(usersData.slice(0))
      return referralTransaction.slice(0);
    },
  },
};
</script>
