<template>
  <div class="ChattingPage">
    <CRow>
      <CCol lg="3">
        <CRow>
          <CCol lg="12">
            <CCard class="border-10">
              <div class="profile">
                <div class="image"></div>
                <div class="name">Olivia Skylar</div>
                <div class="email">olivia_23@gmail.com</div>
              </div>
              <div class="chat_section border-top">
                <div class="label">Chats</div>

                <CCardBody>
                  <b-input-group class="mt-3 pl-3 pr-3">
                    <template #append>
                      <b-input-group-text>
                        <b-icon-search></b-icon-search>
                      </b-input-group-text>
                    </template>
                    <b-form-input placeholder="Search Here"></b-form-input>
                  </b-input-group>
                  <CListGroup class="chat">
                    <CListGroupItem class="wallet">
                      <div class="icon chat1"></div>
                      <div class="detail">
                        <div class="row1">
                          <div class="name">Jason Statham</div>
                          <!-- <div class="percent">-37%</div> -->
                        </div>
                        <div class="row2">Leoram Ipsam is dummy text</div>
                      </div>
                    </CListGroupItem>
                    <CListGroupItem class="wallet">
                      <div class="icon chat2"></div>
                      <div class="detail">
                        <div class="row1">
                          <div class="name">Paul Walker</div>
                          <!-- <div class="percent">-37%</div> -->
                        </div>
                        <div class="row2">Leoram Ipsam is dummy text</div>
                      </div>
                    </CListGroupItem>
                    <CListGroupItem class="wallet">
                      <div class="icon chat3"></div>
                      <div class="detail">
                        <div class="row1">
                          <div class="name">Ven diesel</div>
                          <!-- <div class="percent">-37%</div> -->
                        </div>
                        <div class="row2">Leoram Ipsam is dummy text</div>
                      </div>
                    </CListGroupItem>
                    <CListGroupItem class="wallet">
                      <div class="icon chat3"></div>
                      <div class="detail">
                        <div class="row1">
                          <div class="name">Elisa beth</div>
                          <!-- <div class="percent">-37%</div> -->
                        </div>
                        <div class="row2">Leoram Ipsam is dummy text</div>
                      </div>
                    </CListGroupItem>
                  </CListGroup>
                </CCardBody>
              </div>
            </CCard>
          </CCol>
        </CRow>
      </CCol>
      <CCol lg="9">
        <CCol lg="12" class="main_table">
          <CCard>
            <CCardHeader>
              <slot name="header"> Publication Id </slot>
            </CCardHeader>
            <CCardBody>
              <div class="heading">
                Chat with
                <span class="name">Paul Walker</span>
              </div>
              <CListGroup class="chat">
                <CListGroupItem class="wallet">
                  <div class="icon chat1"></div>
                  <div class="detail">
                    <div class="row1">
                      <div class="name">Olivia Skylar</div>
                      <div class="time">3:20PM</div>
                    </div>
                    <div class="row2">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s,
                    </div>
                  </div>
                </CListGroupItem>
                <CListGroupItem class="wallet">
                  <div class="icon chat2"></div>
                  <div class="detail">
                    <div class="row1">
                      <div class="name">Olivia Skylar</div>
                      <div class="time">3:20PM</div>
                    </div>
                    <div class="row2">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has s
                    </div>
                  </div>
                </CListGroupItem>
                <CListGroupItem class="wallet">
                  <div class="icon chat3"></div>
                  <div class="detail">
                    <div class="row1">
                      <div class="name">Olivia Skylar</div>
                      <div class="time">3:20PM</div>
                    </div>
                    <div class="row2">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, 
                    </div>
                  </div>
                </CListGroupItem>
                <CListGroupItem class="wallet">
                  <div class="icon chat4"></div>
                  <div class="detail">
                    <div class="row1">
                      <div class="name">Olivia Skylar</div>
                      <div class="time">4:20PM</div>
                    </div>
                    <div class="row2">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has s
                    </div>
                  </div>
                </CListGroupItem>
                <CListGroupItem class="wallet">
                  <div class="icon chat4"></div>
                  <div class="detail">
                    <div class="row1">
                      <div class="name">Olivia Skylar</div>
                      <div class="time">4:20PM</div>
                    </div>
                    <div class="row2">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text ever since the 1500s, when an unknown
                      printer took a galley of type and scrambled it to make a
                      type specimen book. It has s
                    </div>
                  </div>
                </CListGroupItem>
              </CListGroup>
              <div class="message_section">
                <b-input-group class="mt-3 pl-3 pr-3">
                    <template #append>
                      <b-input-group-text>
                        <!-- <b-icon-search></b-icon-search> -->
                        <img src="../assets/images/message.svg" />
                      </b-input-group-text>
                    </template>
                   <CTextarea
                  placeholder="Write Message"
                  rows="3"
                />
                  </b-input-group>
                
              </div>
            </CCardBody>
          </CCard>
        </CCol>
      </CCol>
    </CRow>
  </div>
</template>
<style lang="scss">
.error {
  border: 1px solid red !important;
}
</style>
<script>
import latestTransaction from "./users/latestTransaction";

export default {
  name: "Tables",
  components: {},
  data() {
    return {
      securityswitch: true,
      securityStatus: "Disable",
      numInputs: {
        default: 4,
      },
      separator: {
        type: String,
        default: "**",
      },
      inputClasses: {
        type: String,
      },
      isInputNum: {
        type: Boolean,
      },
      shouldAutoFocus: {
        type: Boolean,
        default: false,
      },
    };
  },
  mounted() {},
  watch: {
    securityswitch: {
      handler: function () {
        // because we are using this handler immideatly we need to wait for data changes using nextTick.
        this.$nextTick(() => {
          if (!this.securityswitch) {
            console.log(this.securityswitch);
            this.$refs["my-modal-1"].show();
          }
          if (this.securityswitch) {
            this.securityStatus = "Disable";
          }
        });
      },
      immediate: true,
    },
  },
  methods: {
    continuemobile() {
      this.$refs["my-modal-1"].hide();
      this.starttimer();
    },
    starttimer() {
      var timeleft = 60;
      var downloadTimer = setInterval(function () {
        if (timeleft <= 0) {
          clearInterval(downloadTimer);
          document.getElementById("countdown").innerHTML = "Finished";
        } else {
          document.getElementById("countdown").innerHTML = "0:" + timeleft;
        }
        timeleft -= 1;
      }, 1000);
    },
    continueotp() {
      this.$refs["my-modal-2"].hide();
      document.getElementById("countdown").innerHTML = "0:";
    },
    finish() {
      this.$refs["my-modal-3"].hide();
      this.securityStatus = "Enable";
    },
    shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        let temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
      return array;
    },

    getShuffledUsersData() {
      // return this.shuffleArray(usersData.slice(0))
      return latestTransaction.slice(0);
    },
  },
};
</script>
