<template>

    <article id="post-body" class="norm h-entry">
        <div class="e-content"><font style="vertical-align: inherit;">

            <h1>Contact</h1> 

            <!-- <div data-paperform-id="contactmarcus"></div> -->


            </font>
        </div> 
    </article>
</template> 


<script>
    export default {
        methods: {
            embedForm() {

                var script = document.createElement("script");
                script.src = "https://paperform.co/__embed";
                document.body.appendChild(script);
            },
            scrollToTop() {
                window.scrollTo(0, 0);
            }
        },

        mounted() {
            this.embedForm()
            this.scrollToTop()
        },
        created() {
            this.embedForm()
            this.scrollToTop()
        },

    }
</script>
