<template>
  <div>
    <CRow>
      <CCol lg="9">
        <CCol lg="12">
           <div class="filter_section row">
             <div class="col-md-10 d-flex" style="padding: 10px 0px 10px 0px;">
        <div class="col-md-3 filter_container amount">
          <b-form-select
            v-model="selected_amount"
            :options="amount"
          ></b-form-select>
        </div>
        <div class="col-md-3 filter_container method">
          <b-form-select
            v-model="selected_method"
            :options="method"
          ></b-form-select>
        </div>
        <div class="col-md-2 filter_container currency">
          <b-form-select
            v-model="selected_currency"
            :options="currency"
          ></b-form-select>
        </div>
        <div class="col-md-4 filter_container country">
          <b-form-select
            v-model="selected_country"
            :options="country"
          ></b-form-select>
        </div>
             </div>
             
        <div class="col-md-2 filter_container search">
          <!-- <div class="search-icon"></div> -->
          <span>Search</span>
        </div>
      </div>
        </CCol>
        <CCol lg="12" class="main_table">
          <CTableWrapper1 class="border-10" :items="getShuffledUsersData()">
            
          </CTableWrapper1>
        </CCol>

        <CRow class="buy_sell">
          <CCol lg="6">
            <CTableWrapper
              :items="purchaseCrypt()"
              fixed
              bordered
              caption="Purchase Cryptocurrency"
              class="border-10"
            />
          </CCol>

          <CCol lg="6">
            <CTableWrapper
              :items="saleCrypt()"
              fixed
              bordered
              caption="Sale Cryptocurrency"
              class="border-10"
            />
          </CCol>
        </CRow>
      </CCol>
      <CCol lg="3">
        <CRow>
          <CCol lg="12">
            <CCard class="border-10">
              <CCardHeader>
                <!-- <CIcon name="cil-justify-center" /> -->
                <strong> Notification </strong>
               
              </CCardHeader>
              <CCardBody>
                <CListGroup>
                  <CListGroupItem>Jason Statham, sell 4 bitcoins of $25,000 do  you want to buy it, its one of the best opportunity <span class="date">Dec25, 2020 2:35PM</span></CListGroupItem>
                  <CListGroupItem>Paul Walker, sell 12bitcoins of $1,50,000 do  you want to buy it, its one of the best opportunity <span class="date">Dec25, 2020 2:35PM</span></CListGroupItem>
                  <CListGroupItem>Paul Walker, sell 12bitcoins of $1,50,000 do  you want to buy it, its one of the best opportunity <span class="date">Dec25, 2020 2:35PM</span></CListGroupItem>
                  <CListGroupItem>Paul Walker, sell 12bitcoins of $1,50,000 do  you want to buy it, its one of the best opportunity <span class="date">Dec25, 2020 2:35PM</span></CListGroupItem>
                 
                </CListGroup>
              </CCardBody>
            </CCard>
          </CCol>
        </CRow>
        <CRow>
          <CCol lg="12">
            <CCard class="border-10">
              <CCardHeader>
                <!-- <CIcon name="cil-justify-center" /> -->
                <strong>Recent Activity</strong>
               
              </CCardHeader>
              <CCardBody>
                <CListGroup>
                  <CListGroupItem>Your today Recent Logout at <span class="date">2:35PM</span></CListGroupItem>
                  <CListGroupItem>You have  Sell 23 Bitcoins and got $25,000<span class="date">Dec25, 2020 2:35PM</span></CListGroupItem>
                  <CListGroupItem>You have  Sell 23 Bitcoins and got $25,000<span class="date">Dec25, 2020 2:35PM</span></CListGroupItem>
                  
                </CListGroup>
              </CCardBody>
            </CCard>
          </CCol>
        </CRow>
      </CCol>
    </CRow>
  </div>
</template>
<style lang="scss">
.date{
    display: block;
    font-size: 13px;
    color: #00AAFF;
}
header{
  color: inherit;
}
.table thead th{
  border-top: none;
}
.table th, .table td{
  border-top: 0;
  padding: 10px 10px;
}
.buy_sell .table thead th{
  border-bottom: 0;
}
.main_table{
  .card{
    .card-body{
      // padding: 0;
    }
  }
}
        .filter_section {
            width: 100%;
            text-align: center;
            border: 1px solid #00344e;
            // padding: 15px 20px;
            border-radius: 10px;
            margin: 0 auto;
            font-size: 16px;
            font-family: Poppins Regular;
            margin-bottom: 25px;

            .filter_container {
                padding-top: 10px;
                padding-bottom: 15px;

                select {
                    background: transparent;
                    color: inherit;
                    border: none;
                    font-size: 16px;
                    letter-spacing: 1px;
                    padding-top: 4px;
                    padding-bottom: 0;
                    padding-right: 15px;
                    -webkit-appearance: menulist !important;
                    -moze-appearance: menulist !important;
                    appearance: menulist !important;

                    &:focus {
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                }
            }

            .amount {}

            .method {
                border-left: 1px solid #00344e;
            }

            .currency {
                border-left: 1px solid #00344e;
            }

            .country {
                border-left: 1px solid #00344e;
            }

            .search {
                  text-align: center;
                  background-color: #FF5B5B;
                  color: #ffffff;
                  border-top-right-radius: 9px;
                  border-bottom-right-radius: 9px;
                  padding: 0;
                span{
                 margin: 30px 10px;
                  width: 90%;
                  display: block;
                  font-family: Poppins Regular;
                  font-size: 17px;
                  text-transform: uppercase;
                }
                .search-icon {
                    background-image: url(../assets/images/search.svg);
                    height: 35px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 30px;
                    margin: 0 auto;


                }
            }



        }
        .list-group-item{
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.125);
        }
        .list-group-item:last-child{
          border-bottom: none;
        }
        .border-10{
              border-radius: 10px;
        }
</style>
<script>
import CTableWrapper from "./base/Table.vue";
import CTableWrapper1 from "./base/Table1.vue";
import usersData from "./users/UsersData";
import purchaseCrypto from "./users/purchaseCrypto";
import saleCrypto from "./users/saleCrypto";

export default {
  name: "Tables",
  components: { CTableWrapper, CTableWrapper1 },
  data(){
    return{
      selected_amount: "a",
      selected_method: null,
      selected_country: "a",
      selected_currency: "a",
      amount: [
        { value: null, text: "Amount" },
        { value: "a", text: "$25,000" },
        { value: "b", text: "Selected Option" },
      ],
      method: [
        { value: null, text: "Payment Method" },
        { value: "a", text: "This is First option" },
        { value: "b", text: "Selected Option" },
      ],
      currency: [
        { value: null, text: "Currency" },
        { value: "a", text: "Dollar" },
        { value: "b", text: "Rupee" },
      ],
      country: [
        { value: null, text: "Country" },
        { value: "a", text: "United States Of America" },
        { value: "b", text: "Selected Option" },
      ],
    }
  },
  methods: {
    shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        let temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
      return array;
    },

    getShuffledUsersData() {
      // return this.shuffleArray(usersData.slice(0))
      return usersData.slice(0);
    },
    purchaseCrypt() {
      return purchaseCrypto.slice(0);
    },
    saleCrypt() {
      return saleCrypto.slice(0);
    },
  },
};
</script>
