<template>
  <div class="homePage theme-color">
    <div class="section_one">
      <div class="main-container d-flex justify-content-center mt-5 col-md-5 b-icon-section"
      ></div>
      <div class="main-container mt-5 col-md-7 constellation-right">
        <div class="heading">
          <h4>LOGO</h4>
          <h5>We Look to create a platform of Exchange P2P</h5>
          <ul>
            <li>Trader who do arbitrage</li>
            <li>Remittance agencies</li>
            <li>People who want to send money from one country to another</li>
            <li>Traders who want to buy Btc and others cryptocurrency</li>
          </ul>
        </div>
        <div class="card_section row">
          <!-- <div class="col-md-3 card_inner_section card_inner_section1">
            <div class="card_img card1"></div>
            <b-card title="Don't Miss Anything">
              <b-card-text>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum...
              </b-card-text>
            </b-card>
          </div>
          <div class="line"></div>
          <div class="col-md-3 card_inner_section card_inner_section2">
            <div class="card_img card2"></div>
            <b-card title="Trade Smart">
              <b-card-text>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum...
              </b-card-text>
            </b-card>
          </div>
          <div class="line"></div>
          <div class="col-md-3 card_inner_section card_inner_section3">
            <div class="card_img card3"></div>
            <b-card title="Monitor your Money">
              <b-card-text>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum...
              </b-card-text>
            </b-card>
          </div> -->
          <div class="enter_email_section col-md-12 mb-5">
            <b-input-group class="col-md-8 p-0">
              <template #append>
                <b-input-group-text>
                  <b-icon icon="arrow-right"></b-icon>
                </b-input-group-text>
              </template>
              <b-form-input placeholder="Enter Email Address"></b-form-input>
            </b-input-group>
          </div>
          <div class="button_section col-md-12">
            <b-button size="lg" variant="primary" class="bluebutton mr-3"
              >Buy</b-button
            >
            <b-button size="lg" variant="primary" class="bluebutton ml-3"
              >Sell</b-button
            >
          </div>
        </div>
      </div>
    </div>
    <div class="section_three how_it_works">
      <div class="main-container justify-content-center col-md-8">
        <h4>How It Works</h4>
        <div class="label">
          Get Started with Easy <span class="blue-color">4 Steps</span>
        </div>
      </div>
      <div
        class="d-flex row main-container step-main-container justify-content-center col-md-8"
      >
        <div class="col-md-3 step-section">
          <div class="steps" id="step1"></div>
          <div class="step-desc">Signup</div>
        </div>
        <div class="col-md-3 step-section mt-5">
          <div class="steps" id="step2"></div>
          <div class="step-desc">Learn Trading</div>
        </div>
        <div class="col-md-3 step-section mt-4">
          <div class="steps" id="step3"></div>
          <div class="step-desc">Deposit & Buy</div>
        </div>
        <div class="col-md-3 step-section" style="margin-top: -20px">
          <div class="steps" id="step4"></div>
          <div class="step-desc">Start Trading</div>
        </div>
      </div>
    </div>
    <div class="section_one get_mobile_app">
      <div
        class="main-container d-flex justify-content-center mt-5 col-md-5 b-icon-section"
      ></div>
      <div class="main-container col-md-7">
        <div class="heading">
          <h5>Get Mobile App</h5>
          <h4>
            Bitcoin mobile App is available<br />
            on both <span class="blue-color">Google Store</span> <span> &</span>  <span class="blue-color">App Store </span>
            <br />
           
          </h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged
          </p>
        </div>
        <div class="card_section row">
          <div class="button_section col-md-12 d-flex">
            <div class="googlepay app_buttons"></div>
            <div class="applestore app_buttons"></div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="section_two theme-color-greydark seamless_count">
      <div class="seamless_count_container">
      <div class="main-container justify-content-center mt-5 col-md-5">
        <h4>Cryptocurrency Counting</h4>
        <div class="label">
          Our Seamless<span class="blue-color"> Count</span>
        </div>
      </div>
      <div class="filter_section row col-md-9">
        <div class="col-md-3 filter_container">
         <div class="heading">$1500</div>
         <div class="desc">Cryptocurrency Exchange</div>
        </div>
        <div class="col-md-3 filter_container">
           <div class="heading">20<span>+</span></div>
         <div class="desc">Countries Working</div>
        </div>
        <div class="col-md-3 filter_container">
           <div class="heading">10,000</div>
         <div class="desc">Current Users </div>
        </div>
        <div class="col-md-3 filter_container">
          <div class="heading">20</div>
         <div class="desc">Different currencies</div>
        </div>
      </div>
      </div>
    </div>
   <div class="section_two theme-color-greydark how_we_work">
      <div class="main-container justify-content-center mt-5 col-md-5">
        <h4>How we work</h4>
        <div class="label">
         Be a part of <span class="blue-color">our system</span>
        </div>
      </div>
            <div class="filter_section row col-md-9">
        <div class="col-md-4 filter_container">
         <div class="number">01</div>
         <div class="desc">Invest in crypto</div>
         <div class="image image1"></div>
        </div>
        <div class="col-md-4 filter_container">
         <div class="number">02</div>
         <div class="desc">Be part of our referrals system</div>
         <div class="image image2"></div>
        </div>
        <div class="col-md-4 filter_container">
         <div class="number">03</div>
         <div class="desc">send your remittances anywhere</div>
         <div class="image image3"></div>
        </div>

      </div>
    
    </div>
    <div class="section_four">
      <div class="d-flex">
        <div class="col-md-4"></div>
        <div class="col-md-8 d-flex pl-2">
          <!-- <div class="main-container justify-content-center col-md-1"></div> -->
          <div class="main-container justify-content-center col-md-10">
            <h4>UP AND DOWN IN CRYPTO MARKET</h4>
            <div class="label">
              Information of <span class="blue-color">interest</span>
            </div>
            <div class="row">
              <div class="table_section col-md-10">
                <div class="d-flex">
                  <div class="interest-icon"></div>
                  <table
                    role="table"
                    aria-busy="false"
                    aria-colcount="4"
                    class="table b-table table-heading theme-transparent"
                    id="__BVID__409"
                  >
                    <!----><!---->
                    <thead role="rowgroup" class="">
                      <!---->
                      <tr role="row" class="">
                        <th
                          role="columnheader"
                          scope="col"
                          aria-colindex="1"
                          class=""
                        >
                          <div>Supported Coins</div>
                        </th>
                        <th
                          role="columnheader"
                          scope="col"
                          aria-colindex="2"
                          class=""
                        >
                          <div>Supported Stablecoins</div>
                        </th>
                        <th
                          role="columnheader"
                          scope="col"
                          aria-colindex="3"
                          class=""
                        >
                          <div>CRO</div>
                        </th>
                        <th
                          role="columnheader"
                          scope="col"
                          aria-colindex="4"
                          class=""
                        >
                          <div>Statstics</div>
                        </th>
                      </tr>
                    </thead>
                    <!---->
                  </table>
                </div>

                <table
                  role="table"
                  aria-busy="false"
                  aria-colcount="5"
                  class="table b-table table-body theme-transparent"
                  id="__BVID__409"
                >
                  <!----><!---->

                  <tbody role="rowgroup">
                    <!---->
                    <tr role="row" class="">
                      <td aria-colindex="1" role="cell" class="row-cell-1">
                        3 months
                      </td>
                      <td aria-colindex="2" role="cell" class="">
                        Up to 6.5% pa
                      </td>
                      <td aria-colindex="3" role="cell" class="">9.8%pa</td>
                      <td aria-colindex="4" role="cell" class="">10.5%pa</td>
                      <td aria-colindex="5" role="cell" class="no-padd">
                        <div class="stats"></div>
                      </td>
                    </tr>
                    <tr role="row" class="">
                      <td aria-colindex="1" role="cell" class="">4 months</td>
                      <td aria-colindex="2" role="cell" class="">
                        Up to 6.5% pa
                      </td>
                      <td aria-colindex="3" role="cell" class="">9.8%pa</td>
                      <td aria-colindex="4" role="cell" class="">10.5%pa</td>
                      <td aria-colindex="5" role="cell" class="no-padd">
                        <div class="stats"></div>
                      </td>
                    </tr>
                    <tr role="row" class="">
                      <td aria-colindex="1" role="cell" class="">6 months</td>
                      <td aria-colindex="2" role="cell" class="">
                        Up to 6.5% pa
                      </td>
                      <td aria-colindex="3" role="cell" class="">9.8%pa</td>
                      <td aria-colindex="4" role="cell" class="">10.5%pa</td>
                      <td aria-colindex="5" role="cell" class="no-padd">
                        <div class="stats"></div>
                      </td>
                    </tr>
                    <tr role="row" class="">
                      <td aria-colindex="1" role="cell" class="">9 months</td>
                      <td aria-colindex="2" role="cell" class="">
                        Up to 6.5% pa
                      </td>
                      <td aria-colindex="3" role="cell" class="">9.8%pa</td>
                      <td aria-colindex="4" role="cell" class="">10.5%pa</td>
                      <td aria-colindex="5" role="cell" class="no-padd">
                        <div class="stats"></div>
                      </td>
                    </tr>
                    <!----><!---->
                  </tbody>
                  <!---->
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
            

<script>
// import { mapActions, mapGetters } from "vuex";
// import GoTop from '@inotom/vue-go-top';
// import axios from 'axios'
// import { bus } from '../main.js'

export default {
  // components: {
  //     GoTop
  // },

  data() {
    return {
      isClicked: false,
      selected_amount: "a",
      selected_method: null,
      selected_currency: null,
      selected_country: "a",
      amount: [
        { value: null, text: "Amount" },
        { value: "a", text: "$25,000" },
        { value: "b", text: "Selected Option" },
      ],
      method: [
        { value: null, text: "Payment Method" },
        { value: "a", text: "This is First option" },
        { value: "b", text: "Selected Option" },
      ],
      currency: [
        { value: null, text: "Currency" },
        { value: "a", text: "This is First option" },
        { value: "b", text: "Selected Option" },
      ],
      country: [
        { value: null, text: "Country" },
        { value: "a", text: "United States Of America" },
        { value: "b", text: "Selected Option" },
      ],

      items: [
        {
          Sno: 1,
          Username: "Jason Stataham",
          confidenceLevel: 5,
          Amount: 4,
          Price: "15,000",
          BuyNow: "Buy",
        },
        {
          Sno: 2,
          Username: "Paul Walker",
          confidenceLevel: 2,
          Amount: 3,
          Price: "12,000",
          BuyNow: "Buy",
        },
        {
          Sno: 3,
          Username: "Van Diesel",
          confidenceLevel: 3,
          Amount: 2,
          Price: "10,000",
          BuyNow: "Buy",
        },
        {
          Sno: 4,
          Username: "Anthony M. Iles",
          confidenceLevel: 5,
          Amount: 5,
          Price: "8,000",
          BuyNow: "Buy",
        },
        {
          Sno: 5,
          Username: "Lawrence V. Davis",
          confidenceLevel: 2,
          Amount: 3,
          Price: "12,000",
          BuyNow: "Buy",
        },
      ],
      publications: [
        {
          Sno: 1,
          Username: "Jason Stataham",
          confidenceLevel: 5,

          Price: "15,000",
          PaymentMethod: "Paypal",
        },
        {
          Sno: 2,
          Username: "Paul Walker",
          confidenceLevel: 2,

          Price: "12,000",
          PaymentMethod: "Crypto Currency",
        },
        {
          Sno: 3,
          Username: "Van Diesel",
          confidenceLevel: 3,

          Price: "10,000",
          PaymentMethod: "Payzap",
        },
        {
          Sno: 4,
          Username: "Anthony M. Iles",
          confidenceLevel: 5,

          Price: "8,000",
          PaymentMethod: "Strives",
        },
        {
          Sno: 5,
          Username: "Lawrence V. Davis",
          confidenceLevel: 2,

          Price: "12,000",
          PaymentMethod: "Strives",
        },
      ],

      interest: [
        {
          Sno: "3 months",
          SupportedCoins: "Up to 6.5% pa",
          SupportedStablecoins: "9.8%pa",
          CRO: "10.5%pa",
          Statstics: "image",
        },

        {
          Sno: "4 months",
          SupportedCoins: "Up to 6.5% pa",
          SupportedStablecoins: "9.8%pa",
          CRO: "10.5%pa",
          Statstics: "image",
        },
        {
          Sno: "6 months",
          SupportedCoins: "Up to 6.5% pa",
          SupportedStablecoins: "9.8%pa",
          CRO: "10.5%pa",
          Statstics: "image",
        },
        {
          Sno: "9 months",
          SupportedCoins: "Up to 6.5% pa",
          SupportedStablecoins: "9.8%pa",
          CRO: "10.5%pa",
          Statstics: "image",
        },
      ],
    };
  },
  props: [],
  name: "Home",
  computed: {
    // ...mapGetters("auth", ["loggedIn", "user"]),

    loggedIn() {
      let loggedIn = !!localStorage.getItem("user");
      return loggedIn;
    },
    UserId() {
      var user = JSON.parse(localStorage.getItem("user"));
      return user.user.id;
    },
  },
  methods: {
    // ...mapActions("list", [
    //   "loadLists"
    // ]),
  },
  // watch on route query search
  watch: {},
  created() {},
};
</script>
