<template>
  <div class="homePage theme-color">
    <div class="section_one">
      <div
        class="main-container d-flex justify-content-center mt-5 col-md-5 b-icon-section"
      >
      
      </div>
      <div class="main-container mt-5 col-md-7">
        <div class="heading">
          <h4>
            Bitcoin is an innovative <br />
            <span class="blue-color">payment network</span> <span> &</span>
            <br />
            a new kind of money
          </h4>
        </div>
        <div class="card_section row">
          <div class="col-md-3 card_inner_section card_inner_section1">
            <div class="card_img card1"></div>
            <b-card title="Don't Miss Anything">
              <b-card-text>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum...
              </b-card-text>
            </b-card>
          </div>
          <div class="line"></div>
          <div class="col-md-3 card_inner_section card_inner_section2">
            <div class="card_img card2"></div>
            <b-card title="Trade Smart">
              <b-card-text>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum...
              </b-card-text>
            </b-card>
          </div>
          <div class="line"></div>
          <div class="col-md-3 card_inner_section card_inner_section3">
            <div class="card_img card3"></div>
            <b-card title="Monitor your Money">
              <b-card-text>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum...
              </b-card-text>
            </b-card>
          </div>
        </div>
      </div>
    </div>
    <div class="section_two theme-color-greydark">
      <div class="main-container justify-content-center mt-5 col-md-5">
        <h4>BUY OR SELL BITCOIN WITH CURRENCY</h4>
        <div class="label">
          Compact <span class="blue-color">Block Filters</span>
        </div>
      </div>
      <div class="filter_section row theme-color-greylight">
        <div class="col-md-2 filter_container amount">
          <b-form-select
            v-model="selected_amount"
            :options="amount"
          ></b-form-select>
        </div>
        <div class="col-md-3 filter_container method">
          <b-form-select
            v-model="selected_method"
            :options="method"
          ></b-form-select>
        </div>
        <div class="col-md-2 filter_container currency">
          <b-form-select
            v-model="selected_currency"
            :options="currency"
          ></b-form-select>
        </div>
        <div class="col-md-4 filter_container country">
          <b-form-select
            v-model="selected_country"
            :options="country"
          ></b-form-select>
        </div>
        <div class="filter_container search">
          <div class="search-icon"></div>
        </div>
      </div>
      <div class="table_section">
        <b-table :items="items">
          <template #cell(Price)="data"> ${{ data.value }} </template>
          <template #cell(BuyNow)="data">
            <b-button class="buy_button">{{
              data.value
            }}</b-button>
          </template>
          <template #cell(confidenceLevel)="data">
            <div
              v-for="data1 in data.value"
              v-bind:key="data1"
              class="medal"
            ></div>
          </template>
          <template #cell(Amount)="data">
            <div class="amount-group">
              <div class="amount"></div>
              <div class="amount-price">{{ data.value }}</div>
            </div>
          </template>
        </b-table>
      </div>
    </div>
    <div class="section_three">
      <div class="main-container justify-content-center col-md-8">
        <h4>ACTIVE PUBLICATIONS</h4>
        <div class="label">
          Publication for <span class="blue-color">Current Country</span>
        </div>
      </div>
      <div class="d-flex">
        <div class="col-md-2"></div>
        <div class="table_section col-md-5 theme-transparent">
          <b-table :items="publications">
            <template #cell(Price)="data"> ${{ data.value }} </template>
            <template #cell(BuyNow)="data">
              <b-button class="buy_button">{{
                data.value
              }}</b-button>
            </template>
            <template #cell(confidenceLevel)="data">
              <div
                v-for="data1 in data.value"
                v-bind:key="data1"
                class="medal"
              ></div>
            </template>
            <template #cell(Amount)="data">
              <div class="amount-group">
                <div class="amount"></div>
                <div class="amount-price">{{ data.value }}</div>
              </div>
            </template>
          </b-table>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div class="section_four">
      <div class="d-flex">
        <div class="col-md-4"></div>
        <div class="col-md-8 d-flex pl-2" >
          <!-- <div class="main-container justify-content-center col-md-1"></div> -->
          <div class="main-container justify-content-center col-md-10">
            <h4>UP AND DOWN IN CRYPTO MARKET</h4>
            <div class="label">
              Information of <span class="blue-color">interest</span>
            </div>
            <div class="row">
              <div class="table_section col-md-10">
                <div class="d-flex">
                  <div class="interest-icon"></div>
                    <table
                  role="table"
                  aria-busy="false"
                  aria-colcount="4"
                  class="table b-table table-heading theme-transparent"
                  id="__BVID__409"
                >
                  <!----><!---->
                  <thead role="rowgroup" class="">
                    <!---->
                    <tr role="row" class="">
                     
                      <th
                        role="columnheader"
                        scope="col"
                        aria-colindex="1"
                        class=""
                      >
                        <div>Supported Coins</div>
                      </th>
                      <th
                        role="columnheader"
                        scope="col"
                        aria-colindex="2"
                        class=""
                      >
                        <div>Supported Stablecoins</div>
                      </th>
                      <th
                        role="columnheader"
                        scope="col"
                        aria-colindex="3"
                        class=""
                      >
                        <div>CRO</div>
                      </th>
                      <th
                        role="columnheader"
                        scope="col"
                        aria-colindex="4"
                        class=""
                      >
                        <div>Statstics</div>
                      </th>
                    </tr>
                  </thead>
                  <!---->
                </table>
                </div>
                
                <table
                  role="table"
                  aria-busy="false"
                  aria-colcount="5"
                  class="table b-table table-body theme-transparent"
                  id="__BVID__409"
                >
                  <!----><!---->
               
                  <tbody role="rowgroup">
                    <!---->
                    <tr role="row" class="">
                      <td aria-colindex="1" role="cell" class="row-cell-1">3 months</td>
                      <td aria-colindex="2" role="cell" class="">
                        Up to 6.5% pa
                      </td>
                      <td aria-colindex="3" role="cell" class="">9.8%pa</td>
                      <td aria-colindex="4" role="cell" class="">10.5%pa</td>
                      <td aria-colindex="5" role="cell" class="no-padd"><div class="stats"></div></td>
                    </tr>
                    <tr role="row" class="">
                      <td aria-colindex="1" role="cell" class="">4 months</td>
                      <td aria-colindex="2" role="cell" class="">
                        Up to 6.5% pa
                      </td>
                      <td aria-colindex="3" role="cell" class="">9.8%pa</td>
                      <td aria-colindex="4" role="cell" class="">10.5%pa</td>
                       <td aria-colindex="5" role="cell" class="no-padd"><div class="stats"></div></td>
                    </tr>
                    <tr role="row" class="">
                      <td aria-colindex="1" role="cell" class="">6 months</td>
                      <td aria-colindex="2" role="cell" class="">
                        Up to 6.5% pa
                      </td>
                      <td aria-colindex="3" role="cell" class="">9.8%pa</td>
                      <td aria-colindex="4" role="cell" class="">10.5%pa</td>
                       <td aria-colindex="5" role="cell" class="no-padd"><div class="stats"></div></td>
                    </tr>
                    <tr role="row" class="">
                      <td aria-colindex="1" role="cell" class="">9 months</td>
                      <td aria-colindex="2" role="cell" class="">
                        Up to 6.5% pa
                      </td>
                      <td aria-colindex="3" role="cell" class="">9.8%pa</td>
                      <td aria-colindex="4" role="cell" class="">10.5%pa</td>
                       <td aria-colindex="5" role="cell" class="no-padd"><div class="stats"></div></td>
                    </tr>
                    <!----><!---->
                  </tbody>
                  <!---->
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
            

<script>
// import { mapActions, mapGetters } from "vuex";
// import GoTop from '@inotom/vue-go-top';
// import axios from 'axios'
// import { bus } from '../main.js'

export default {
  // components: {
  //     GoTop
  // },

  data() {
    return {
      isClicked: false,
      selected_amount: "a",
      selected_method: null,
      selected_currency: null,
      selected_country: "a",
      amount: [
        { value: null, text: "Amount" },
        { value: "a", text: "$25,000" },
        { value: "b", text: "Selected Option" },
      ],
      method: [
        { value: null, text: "Payment Method" },
        { value: "a", text: "This is First option" },
        { value: "b", text: "Selected Option" },
      ],
      currency: [
        { value: null, text: "Currency" },
        { value: "a", text: "This is First option" },
        { value: "b", text: "Selected Option" },
      ],
      country: [
        { value: null, text: "Country" },
        { value: "a", text: "United States Of America" },
        { value: "b", text: "Selected Option" },
      ],

      items: [
        {
          Sno: 1,
          Username: "Jason Stataham",
          confidenceLevel: 5,
          Amount: 4,
          Price: "15,000",
          BuyNow: "Buy",
        },
        {
          Sno: 2,
          Username: "Paul Walker",
          confidenceLevel: 2,
          Amount: 3,
          Price: "12,000",
          BuyNow: "Buy",
        },
        {
          Sno: 3,
          Username: "Van Diesel",
          confidenceLevel: 3,
          Amount: 2,
          Price: "10,000",
          BuyNow: "Buy",
        },
        {
          Sno: 4,
          Username: "Anthony M. Iles",
          confidenceLevel: 5,
          Amount: 5,
          Price: "8,000",
          BuyNow: "Buy",
        },
        {
          Sno: 5,
          Username: "Lawrence V. Davis",
          confidenceLevel: 2,
          Amount: 3,
          Price: "12,000",
          BuyNow: "Buy",
        },
      ],
      publications: [
        {
          Sno: 1,
          Username: "Jason Stataham",
          confidenceLevel: 5,

          Price: "15,000",
          PaymentMethod: "Paypal",
        },
        {
          Sno: 2,
          Username: "Paul Walker",
          confidenceLevel: 2,

          Price: "12,000",
          PaymentMethod: "Crypto Currency",
        },
        {
          Sno: 3,
          Username: "Van Diesel",
          confidenceLevel: 3,

          Price: "10,000",
          PaymentMethod: "Payzap",
        },
        {
          Sno: 4,
          Username: "Anthony M. Iles",
          confidenceLevel: 5,

          Price: "8,000",
          PaymentMethod: "Strives",
        },
        {
          Sno: 5,
          Username: "Lawrence V. Davis",
          confidenceLevel: 2,

          Price: "12,000",
          PaymentMethod: "Strives",
        },
      ],

      interest: [
        {
          Sno: "3 months",
          SupportedCoins: "Up to 6.5% pa",
          SupportedStablecoins: "9.8%pa",
          CRO: "10.5%pa",
          Statstics: "image",
        },

        {
          Sno: "4 months",
          SupportedCoins: "Up to 6.5% pa",
          SupportedStablecoins: "9.8%pa",
          CRO: "10.5%pa",
          Statstics: "image",
        },
        {
          Sno: "6 months",
          SupportedCoins: "Up to 6.5% pa",
          SupportedStablecoins: "9.8%pa",
          CRO: "10.5%pa",
          Statstics: "image",
        },
        {
          Sno: "9 months",
          SupportedCoins: "Up to 6.5% pa",
          SupportedStablecoins: "9.8%pa",
          CRO: "10.5%pa",
          Statstics: "image",
        },
      ],
    };
  },
  props: [],
  name: "Home",
  computed: {
    // ...mapGetters("auth", ["loggedIn", "user"]),

    loggedIn() {
      let loggedIn = !!localStorage.getItem("user");
      return loggedIn;
    },
    UserId() {
      var user = JSON.parse(localStorage.getItem("user"));
      return user.user.id;
    },
  },
  methods: {
    // ...mapActions("list", [
    //   "loadLists"
    // ]),
  },
  // watch on route query search
  watch: {},
  created() {},
};
</script>
