<template>
  <div class="userProfilePage">
    <CRow>
      <CCol lg="9">
        <CCol lg="12" class="main_table">
          <CTableWrapper2 class="border-10" :items="getShuffledUsersData()">
            <template #header>
              <!-- <CIcon name="cil-grid"/>  -->
              Latest Transaction
              <div class="card-header-actions">
                <a
                  href="#"
                  class="card-header-action"
                  rel="noreferrer noopener"
                  target="_blank"
                >
                  <span class="text-muted">View All</span>
                </a>
              </div>
            </template>
          </CTableWrapper2>
        </CCol>
      </CCol>
      <CCol lg="3">
        <CRow>
          <CCol lg="12">
            <CCard class="border-10">
              <div class="profile">
                <div class="image"></div>
                <div class="name">Olivia Skylar</div>
                <div class="email">olivia_23@gmail.com</div>
                <div class="progressbar">
                  <CProgress
                    class="progress-xs mt-2"
                    :precision="1"
                    color="success"
                    :value="70"
                  />
                </div>
              </div>
              <div class="wallet_section border-top">
                <div class="label">Wallet</div>
                <div class="wallet">
                  <div class="icon"></div>
                  <div class="detail">
                    <div class="row1">
                      <div class="name">BTE</div>
                      <div class="percent">-37%</div>
                    </div>
                    <div class="row2">Bitcoin</div>
                  </div>
                </div>
              </div>
              <div class="security_section border-top">
                <div class="label">Security</div>
                <div class="security">
                  <div class="left_section">
                    <div class="label_one">Two Factor Security</div>
                    <div class="label_two">
                      {{ this.securityStatus }}
                    </div>
                  </div>
                  <div class="right_section">
                    <CSwitch
                      class="mx-1 security_button"
                      color="dark"
                      shape="pill"
                      v-model="securityswitch"
                      @change.native="securityswitch = !securityswitch"
                    />
                  </div>
                </div>
              </div>
              <div class="document_section border-top">
                <div class="label">Documents</div>
                <div class="document">
                  <div class="left_section">
                    <span class="icon one"></span>
                    <span class="icon two"></span>
                    <span class="icon three"></span>
                  </div>
                  <div class="right_section"></div>
                </div>
              </div>
            </CCard>
          </CCol>
        </CRow>
      </CCol>
    </CRow>
    <b-modal
      size="lg"
      class="comman-modal"
      centered
      ref="my-modal-1"
      hide-footer
      title="Using Component Methods"
    >
      <template #modal-title> Two Factor Security </template>
      <div class="d-block text-center">
        <h3>Please Enter Mobile Number for Two factor Security</h3>
        <!-- <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :state="nameState"
          label="Name"
          label-for="name-input"
          invalid-feedback="Number is required"
        >
          <b-form-input
            id="name-input"
            v-model="name"
            :state="nameState"
            required
          ></b-form-input>
        </b-form-group>
      </form> -->
        <b-input-group>
    <b-input-group-prepend style="margin: 20px auto;" is-text>+1</b-input-group-prepend>
      <b-input type="tel" style="border-left: none;"></b-input>
    </b-input-group>
       
      </div>
      <b-button
        v-b-modal.modal-multi-2
        class="mt-2 mb-4 blue-button"
        variant="outline-info"
        block
        @click="continuemobile"
        >Continue</b-button
      >
    </b-modal>
    <b-modal
      size="lg"
      class="comman-modal"
      centered
      id="modal-multi-2"
      ref="my-modal-2"
      hide-footer
      title="Using Component Methods"
    >
      <template #modal-title> Two Factor Security </template>
      <div class="d-block text-center">
        <h3>Please Enter Mobile OTP for enable Two Factor Security</h3>
        <!-- <b-input type="tel"></b-input> -->
        <v-otp-input
          inputClasses="otp-input"
          :numInputs="6"
          separator="-"
          :shouldAutoFocus="true"
          class="otp-section"
        />
        <div id="countdown_section">
          Remaining OTP
          <div id="countdown">0:60</div>
        </div>
        <div class="resend_otp"><a href="#">Resend OTP</a></div>
      </div>
      <b-button
        v-b-modal.modal-multi-3
        class="mt-2 mb-4 blue-button"
        variant="outline-info"
        block
        @click="continueotp"
        >Continue</b-button
      >
    </b-modal>
    <b-modal
      size="lg"
      class="comman-modal"
      centered
      id="modal-multi-3"
      ref="my-modal-3"
      hide-footer
      title="Using Component Methods"
    >
      <template #modal-title> Two Factor Security </template>
      <div class="d-block text-center">
        <div class="icon"></div>
        <h3>You have successfully Enable the Two Factor security</h3>
      </div>
      <b-button
        class="mt-2 mb-4 blue-button"
        variant="outline-info"
        block
        @click="finish"
        >Finish</b-button
      >
    </b-modal>
  </div>
</template>
<style lang="scss">
.input-group-prepend{
  .input-group-text{
    background: none;
    border-right: none;
  }
}
.otp-section {
  margin: 0 auto;
  width: 70%;
  span {
    display: none;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
#countdown_section {
  display: flex;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  justify-content: space-evenly;
  font-family: Poppins Regular;
  font-size: 14px;
  #countdown {
    color: #00aaff;
  }
}
.resend_otp {
  a {
    color: #00aaff;
    text-decoration: underline;
    font-family: Poppins Regular;
    font-size: 14px;
  }
}
.otp-input {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
}
.error {
  border: 1px solid red !important;
}
</style>
<script>
import CTableWrapper2 from "./base/Table2.vue";

import latestTransaction from "./users/latestTransaction";

export default {
  name: "Tables",
  components: { CTableWrapper2 },
  data() {
    return {
      securityswitch: true,
      securityStatus: "Disable",
      numInputs: {
        default: 4,
      },
      separator: {
        type: String,
        default: "**",
      },
      inputClasses: {
        type: String,
      },
      isInputNum: {
        type: Boolean,
      },
      shouldAutoFocus: {
        type: Boolean,
        default: false,
      },
    };
  },
  mounted() {},
  watch: {
    securityswitch: {
      handler: function () {
        // because we are using this handler immideatly we need to wait for data changes using nextTick.
        this.$nextTick(() => {
          if (!this.securityswitch) {
            console.log(this.securityswitch);
            this.$refs["my-modal-1"].show();
          }
          if (this.securityswitch) {
            this.securityStatus = "Disable";
          }
        });
      },
      immediate: true,
    },
  },
  methods: {
    continuemobile() {
      this.$refs["my-modal-1"].hide();
      this.starttimer();
    },
    starttimer() {
      var timeleft = 60;
      var downloadTimer = setInterval(function () {
        if (timeleft <= 0) {
          clearInterval(downloadTimer);
          document.getElementById("countdown").innerHTML = "Finished";
        } else {
          document.getElementById("countdown").innerHTML = "0:" + timeleft;
        }
        timeleft -= 1;
      }, 1000);
    },
    continueotp() {
      this.$refs["my-modal-2"].hide();
       document.getElementById("countdown").innerHTML = "0:";
    },
    finish() {
      this.$refs["my-modal-3"].hide();
      this.securityStatus = "Enable";
    },
    shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        let temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
      return array;
    },

    getShuffledUsersData() {
      // return this.shuffleArray(usersData.slice(0))
      return latestTransaction.slice(0);
    },
  },
};
</script>
