<template>
  <div class="ReferralControlPage">
    <CAlert :show.sync="dismissCountDown" closeButton color="info">
      Referral Link is copied
    </CAlert>
    <CRow>
      <CCol lg="12">
        <CCol lg="12" class="referral_link">
          <div class="card">
            <div class="heading">Referral Link</div>
            <div class="input_section d-flex w-70">
              <b-input type="text" v-model="message"></b-input>

              <button
                type="button"
                v-clipboard:copy="message"
                v-clipboard:success="showAlert"
                v-clipboard:error="onError"
              >
                <div class="icon">
                  <b-icon-files></b-icon-files>
                </div>
              </button>
            </div>
            <div class="brand_section col-md-2 row">
              <ShareNetwork
                network="facebook"
                :url="message"
                title="Referral Link"
                description="Referral Link"
                :quote="message"
                hashtags="vuejs,vite"
              >
                <div class="col-md-3 brand facebook"></div> 
              </ShareNetwork>
              <ShareNetwork
                network="twitter"
                :url="message"
                title="Referral Link"
                description="Referral Link"
                :quote="message"
                hashtags="vuejs,vite"
              >
                <div class="col-md-3 brand twitter"></div>
              </ShareNetwork>
              <ShareNetwork
                network="linkedin"
                :url="message"
                title="Referral Link"
                description="Referral Link"
                :quote="message"
                hashtags="vuejs,vite"
              >
                <div class="col-md-3 brand linkedin"></div>
              </ShareNetwork>
            </div>
          </div>
        </CCol>
        <CCol lg="12" class="main_table">
          <CTableWrapper2 class="border-10" :items="getShuffledUsersData()">
            <template #header>
              <!-- <CIcon name="cil-grid"/>  -->
              Referral Transaction
              <div class="card-header-actions">
                <a
                  href="#"
                  class="card-header-action"
                  rel="noreferrer noopener"
                  target="_blank"
                >
                  <!-- <span class="text-muted">View All</span> -->
                </a>
              </div>
            </template>
          </CTableWrapper2>
        </CCol>
      </CCol>
    </CRow>
  </div>
</template>
<style lang="scss">
</style>
<script>
import CTableWrapper2 from "./base/Table3.vue";

import referralTransaction from "./users/referralTransaction";

export default {
  name: "Tables",
  components: { CTableWrapper2 },
  data() {
    return {
      dismissSecs: 2,
      dismissCountDown: 0,
      message: "https://dribbble.com/shots/7078402-Block-Chain-Work-Page",
    };
  },
  methods: {
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    onError: function (e) {
      alert("Failed to copy texts" + e.text);
    },

    shuffleArray(array) {
      for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        let temp = array[i];
        array[i] = array[j];
        array[j] = temp;
      }
      return array;
    },

    getShuffledUsersData() {
      // return this.shuffleArray(usersData.slice(0))
      return referralTransaction.slice(0);
    },
  },
};
</script>
