<template>
   <span>
        <div class="contact-container"> 
           
            <div class="row bulb_section">
    <div @click="$emit('click')" class="bulb"></div>
  </div>
        </div>
       
        </span>
</template>

<script>
export default {
     data() {
    return {
      isClicked: false,
    }
     },
  methods: {
      toggleIsClicked(){
        this.isClicked = !this.isClicked
        return this.isClicked
      }
  },
};
</script>
<style lang="scss" scoped>
            .bulb_section{
                float: right;
                margin-bottom: 20px;
                .bulb{
                    background-image: url(../assets/images/Bulb.svg);
                    width: 40px;
                    height: 40px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 15px;
                }
            }
</style>