<template> 
    <!-- Search bar component -->
    <div class="search-wrapper col-md-12" style="padding: 0 0;">
       
  <b-input-group>
    <b-input-group-prepend is-text><b-icon-search></b-icon-search></b-input-group-prepend>
  <b-input v-model="search" type="text" class="form-control" placeholder="Search"
                 aria-label="List name or Category"
                 aria-describedby="basic-addon2"
                 @input="searchProducts(search)"
                 >
        </b-input>
  </b-input-group>
        <div>
</div>
    </div> 
</template>
<script>
     import { bus } from '../main.js'

            export default {
                data() {
                    return {
                        search: '',
                        // timeout: null,
                    }
                },
                methods: {
//                    redirect search to home page with query string
                    searchProducts(search) {
                        let ref = this;
                        this.$nextTick(() => {
                            if (search.length) {
                                clearTimeout(ref.timeout);
                                ref.timeout = setTimeout(function () {
                                    // ref.$router.push({name: 'home', params: {search1: search}})
                                    // .catch(error => {
                                    //         if (error.name != "NavigationDuplicated") {
                                    //             throw error;
                                    //         }
                                    //         });
                                // ref.loadSearchList(ref.search).then(() => {
                                    
                                // })
                                if(ref.$route.name == 'home'){
                                    bus.$emit('changeIt1', search);
                                }
                                else{
                                    ref.$router.push({name: 'home', params: {search1: search}})
                                }

                                }, 1000);
                                

                            }
                            setTimeout(function(){
                                if(search.length == ''){
                                 bus.$emit('changeItempty');
                            }
                            },1100)
                            

                        });

                    },
                },
                    created(){
                        bus.$on('changekro', (text) => {
                       this.search = text
                     })
                        bus.$on('emptysearchbar', () => {
                       this.search = ''
                       bus.$emit('changeItempty');
                     })
                    },

            }
</script>
