<template>
  <CChartLine
    :datasets="defaultDatasets"
    labels="months"
  />
</template>

<script>
import { CChartLine } from '@coreui/vue-chartjs'

export default {
  name: 'CChartLineExample',
  components: { CChartLine },
  computed: {
    defaultDatasets () {
      return [
        {
          label: 'Graph',
          backgroundColor: '#00AAFF',
          data: [0,50000, 70000, 100000,150000, 140000,250000],
        },
        // {
        //   label: 'Data Two',
        //   backgroundColor: 'rgb(0,216,255,0.9)',
        //   data: [39, 80, 40, 35, 40, 20, 45]
        // }
      ]
    }
  }
}
</script>
