// Colors

$text-color: #ffffff;
$blue-color: #00AAFF;

//Footer
.footer {
    bottom: 0;
    width: 100%;
    // background-color: transparent;
    // height: 56px;
    color: $text-color;
    padding: 0rem 0rem;
    // margin-top: 100px;
    padding-top: 100px;

    .container {
        max-width: 100%;

        .columns {
            width: 72%;
            margin: auto;
            margin-bottom: 30px;

            .row {
                width: 100%;
                margin: auto;
                justify-content: space-between;

                .section1 {
                    .heading {

                        text-align: left;
                        font: normal normal normal 25px/38px Poppins;
                        letter-spacing: 2px;
                        color: #00A2FF;
                        opacity: 1;
                    }

                    p {
                        margin-top: 15px;
                        text-align: left;
                        font-family: Poppins Extralight;
                        font-size: 16px;
                        letter-spacing: 0px;
                        opacity: 1;
                    }
                }
                .section4{
                    padding-top: 50px;
                    padding-bottom: 50px;
                }
                .sections {
                    .brand_section{
                        display: flex;
                        padding: 20px 0px;
                        .brand{
                            width: 100%;
                height: 16px;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: contain;
                        }
                        .facebook{
                            background-image: url(../assets/images/facebook.png)
                        }
                        .twitter{
                            background-image: url(../assets/images/twitter.png)
                        }
                        .linkedin{
                            background-image: url(../assets/images/linkedin.png)
                        }
                    }
                    .language_section{
                        padding: 10px 2px 20px 2px;
                        border-bottom: 1px solid;
                        .language{
                            font-family: Poppins Extralight;
                            font-size: 17px;
                        }
                    }
                    .heading {
                        margin-bottom: 10px;
                        font: normal normal normal 20px/32px Poppins;
                        letter-spacing: 0px;
                        opacity: 1;
                        width: 100%;
                        text-align: left;
                        margin: auto;
                        // border-bottom: 1px solid#00A2FF;
                    }

                    .blue-color-line {
                        border-bottom: 3px solid #00A2FF;
                        height: 1px;
                        width: 25%;
                        display: block;
                    }

                    ul {
                        margin-top: 15px;
                        list-style: none;
                        width: 100%;
                        padding-left: 0;

                        li {
                            width: 100%;
                            margin: 0 auto;
                            text-align: left;
                            font-family: Poppins Thin;
                            font-size: 18px;
                            letter-spacing: 0px;
                            opacity: 1;

                            .text-color {
                                color: inherit;

                                &:hover {
                                    color: #00AAFF;
                                }
                            }
                        }
                    }
                }

                .column {
                    margin-top: 5px;

                    a {
                        color: $text-color;
                        display: inline-block;
                        padding-bottom: 0.3125rem;
                        font-size: 1.25rem;
                        line-height: inherit;
                        white-space: nowrap;
                        text-decoration: none;
                        margin: auto 15px;
                    }
                }
            }
        }

        .copyright {
            background-color: #0F0F0F;

            p {
                text-align: center;
                font: normal normal 300 14px/32px Poppins;
                letter-spacing: 0px;
                opacity: 1;
                width: 100%;
                color: #DFDFDF;
                margin: 0;
            }
        }
    }
}

// BitCoin
.blue-button {
    background-color: #007bff;

    &:hover {
        background-color: #47b784;
    }
}

.logout {
    a {
        color: #007bff !important;

        &:hover {
            color: #007bff !important;
        }
    }

}

.was-validated .form-control:invalid,
.form-control.is-invalid {
    border-color: #ced4da;
    background-image: none;
}

.text-align-right {
    text-align: right;
}

.loginPage {
    display: flex;

    .b-icon-section {
        width: 100%;
        background-image: url(../assets/images/lightB.png);
        height: 450px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 180px;
        padding-left: 93px;
    }

    .main-container {
        .card {
            border: none;
            width: 484px;
            margin-left: 73px;
            height: 718px;

            .card-body {
                font-family: Poppins;

                // background: transparent linear-gradient(180deg, #00AAFF12 0%, #00558029 100%) 0% 0% no-repeat padding-box;
                border: 1px solid #00AAFF5C;
                border-radius: 22px;
                opacity: 1;
                padding-left: 50px;
                padding-right: 50px;

                .card-text {
                    color: inherit;
                    font-size: 18px;
                    font-family: Poppins-ExtraLight, Poppins;
                    font-weight: 200;

                    a {
                        color: #00AAFF;
                        font-size: 18px;
                        font-family: Poppins-ExtraLight, Poppins;
                        font-weight: 200;
                        letter-spacing: 0.056em;
                        margin-left: 10px;
                    }

                }

                .card-title {
                    color: inherit;
                    text-align: left;
                    font: normal normal 300 34px/79px Poppins;
                    letter-spacing: 1.9px;
                    opacity: 1;
                    margin-bottom: 0;
                    margin-top: 37px;
                }

                form {
                    #email-group {
                        margin-bottom: 50px;
                        margin-top: 10px;
                    }

                    #password-group {
                        margin-bottom: 30px;
                    }

                    .form-control {
                        background: none;
                        border: none;
                        border-bottom: 1px solid #666e71;
                        color: inherit;
                        border-radius: 0;

                        &::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: inherit;
                            opacity: 1;
                            /* Firefox */
                        }

                    }

                    // padding-top: 65px! important;
                    .card-text {
                        font-size: 14px;
                        margin-right: 20px;
                        margin-bottom: 75px;
                    }

                    padding-top: 30px;

                    #recaptcha {
                        margin-top: 45px;

                        .recaptcha_div {
                            width: 100%;

                            .re_div {
                                width: 100%;

                                div {
                                    width: 100% !important;
                                    text-align: center;

                                    iframe {
                                        // width:100%;

                                        .rc-anchor-normal {
                                            width: 100%;
                                            text-align: center;
                                            border-radius: 20px;
                                            margin: auto;

                                            .rc-anchor-normal-footer {
                                                margin: 10px 10px;

                                                .rc-anchor-pt {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }


                            }
                        }

                    }

                    .signin {
                        margin-top: 24px;
                        margin-bottom: 40px;
                        margin-top: 40px;
                        margin-bottom: 40px;

                        height: 59px;
                        fill: rgb(0, 123, 184);
                        border-radius: 10px;
                        box-shadow: none;
                    }

                }
            }
        }
    }
}

// Home Page
.homePage {
    color: $text-color;
    // margin-top: 151px;
    // padding-top: 151px;

    .section_one {
        display: flex;
        // padding-bottom: 150px;
        // width: 100%;
        // content: "";
        // background-image: url(../assets/images/backgrnd-dark.jpg);
        // background-image: url(../assets/images/section_1_back.svg);

        // left: 0;
        // top: 0;
        // height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        // margin-top: 151px;
        .b-icon-section {
            width: 100%;
            background-image: url(../assets/images/lightB.png);
            height: 450px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .constellation-right:before{     
            width: 100%;  
            content: "";
            background-image: url(../assets/images/constellation-right.svg);
            position: absolute;
            height: 65%;
            right: 0;
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain; 
        }
        .main-container {
            padding-left: 93px;
            margin: auto;

            .heading {
                width: 80%;

                h4 {
                    line-height: 78px;
                    font-size: 49px;
                    font-family: Poppins-ExtraLight, Poppins;
                    font-weight: 200;

                    .blue-color {
                        color: rgb(0, 170, 255);
                        font-family: Poppins-Light, Poppins;
                        font-weight: 300;
                    }
                }
                h5{
                  
                    font-size: 22px;
                    font-family: Poppins light;
                   
                }
                ul{
                    font-size: 16px;
                    font-family: Poppins light;
                    list-style-image: url('../assets/images/arrow.svg');
                    padding-left: 25px;
                    li{
                        padding: 5px 5px;
                    }
                }
            }

            .bulb_section {
                float: right;
                margin-bottom: 20px;

                .bulb {
                    background-image: url(../assets/images/Bulb.svg);
                    width: 40px;
                    height: 40px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 15px;
                }
            }

            .card_section {
                margin-top: 50px;
                margin-bottom: 80px;

                .card_inner_section {
                    // border-right: 1px solid grey;
                    border-radius: none;
                    padding-left: 20px;
                    padding-top: 15px;
                    margin-top: 15px;
                    margin-left: 30px;

                    .card_img {
                        width: 33px;
                        height: 25px;
                        margin-left: 13px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-bottom: 14px;
                    }

                    .card_img.card1 {
                        background-image: url(../assets/images/card1.svg);
                    }

                    .card_img.card2 {
                        background-image: url(../assets/images/card3.svg);
                    }

                    .card_img.card3 {
                        background-image: url(../assets/images/card2.svg);
                    }

                    padding: 0;

                    .card {
                        background: transparent;
                        border: none;

                        .card-body {
                            padding-left: 15px;
                            padding-right: 15px;
                            width: 100%;
                            padding-bottom: 22px;
                            padding-top: 0px;

                            h4 {
                                font-size: 18px;
                                font-family: Poppins-ExtraLight, Poppins;
                                font-weight: 200;
                            }

                            .card-text {
                                color: inherit;
                                font-size: 14px;
                                font-family: Poppins-ExtraLight, Poppins;
                                font-weight: 200;
                                line-height: 33px;
                                padding-top: 7px;
                            }
                        }
                    }
                }

                .card_inner_section1 {
                    margin-left: 0;
                    margin-right: 30px;
                }

                .line {
                    width: 2px;
                    background-color: #001723;
                }
                .button_section{
                    .bluebutton{
                        background-color: #00FFE5;
                        border-color: #008275;
                        box-shadow: none;
                        color: #000000;
                        font-size: 18px;
                        font-family: Poppins medium;
                        padding-left: 50px;
                        padding-right: 50px;
                        border-radius: 10px;

                    }
                }
                .enter_email_section {
                    .input-group{
                        border-radius: 50px;
                        background: #054768;
                        border: 1px solid #00AAFF;
                        input{
                            background: #054768;
                            border: none;
                            border-top-left-radius: 50px;
                            font-family: Poppins-ExtraLight, Poppins;
                            font-size: 20px;
                            border-bottom-left-radius: 50px;

                            padding-left: 30px;
                            margin-top: 15px;
                            margin-bottom: 10px;
                            margin-right: 0px;
                        }
                        .input-group-append{
                            margin-left: 0px;
                            margin-right: 0px;
                            padding-right: 0px;
                            .input-group-text{
                                background-color: #00AAFF;
                                color: #ffffff;
                                border-radius: 50px;
                                border: none;

                                padding-left: 25px;
                                margin-right: 0px;
                                padding-right: 25px;
                                padding-top: 25px;
                                padding-bottom: 25px;
                                svg{
                                    font-size: 150%;
                                    font-weight: bolder;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    .section_one::after{     
        width: 100%;  
        content: "";
        background-image: url(../assets/images/bitcoin-background.svg);
        position: absolute;
        height: 75%;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain; 
    }
    .section_one::before{     
        width: 100%;  
        content: "";
        background-image: url(../assets/images/constellations.svg);
        position: absolute;
        height: 65%;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; 
    }

    .section_two {
        padding-top: 150px;
        padding-bottom: 150px;
        background-color: #00070a;

        .main-container {
            margin: 0 auto;

            .label {
                font-size: 40px;
                font-family: Poppins-Light, Poppins;
                font-weight: 300;
                text-align: center;

                .blue-color {
                    color: rgb(0, 170, 255);
                }
            }

            h4 {
                font-size: 15px;
                font-family: Poppins-Light, Poppins;
                font-weight: 300;
                letter-spacing: 0.053em;
                text-align: center;
            }
        }

        .filter_section {
            // width: 50%;
            width: fit-content;
            margin: 0 auto;
            text-align: center;
            background-color: #00111a;
            border: 1px solid #00344e;
            padding: 15px 20px;
            border-radius: 50px;
            font-size: 17px;
            font-family: Poppins-ExtraLight, Poppins;
            font-weight: 200;
            margin-top: 50px;
            margin-bottom: 70px;

            .filter_container {
                padding-top: 10px;

                select {
                    background: transparent;
                    color: inherit;
                    border: none;
                    letter-spacing: 1px;
                    padding-top: 4px;
                    padding-bottom: 0;
                    padding-right: 15px;
                    -webkit-appearance: menulist !important;
                    -moze-appearance: menulist !important;
                    appearance: menulist !important;

                    &:focus {
                        outline: none;
                        border: none;
                        box-shadow: none;
                    }
                }
            }

            .amount {}

            .method {
                border-left: 1px solid #00344e;
            }

            .currency {
                border-left: 1px solid #00344e;
            }

            .country {
                border-left: 1px solid #00344e;
            }

            .search {
                text-align: center;
                background-color: #002d44;
                border-radius: 50%;
                height: 55px;
                width: 60px;
                padding-top: 9px;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 0;

                .search-icon {
                    background-image: url(../assets/images/search.svg);
                    height: 35px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 30px;
                    margin: 0 auto;


                }
            }



        }

        .table_section {
            // width: 67% ;
            width: fit-content;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 50px;
            padding: 25px 100px;
            border: 1px solid #19272f;
            border-radius: 20px;
            // background: #000a10;

            .table {
                color: inherit;

                .buy_button {
                    border-color: rgb(0, 167, 44);
                    padding: 5px 30px;
                    background-color: rgba(0, 255, 68, 0.15);
                    border-radius: 20px;
                    color: inherit;
                }

                .medal {
                    background-image: url(../assets/images/medal.svg);
                    width: 20px;
                    height: 38px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    float: left;
                    margin-left: 5px;
                    margin-right: 5px;
                }

                .amount-group {
                    display: flex;

                    .amount {
                        background-image: url(../assets/images/amount.svg);
                        width: 23px;
                        height: 33px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        float: left;
                        margin-left: 5px;
                        margin-right: 5px;
                    }

                    .amount-price {
                        width: 20px;
                        height: 33px;

                        margin-left: 5px;
                        margin-right: 5px;
                        margin-top: 5px;
                        margin-bottom: 5px;
                    }
                }

                .medal-opac {
                    opacity: 0.5;
                }

                // color: $text-color;

                td {
                    border: none;
                    padding-bottom: 0;
                    padding-left: 25px;
                    padding-right: 50px;
                    font-size: 18px;
                    font-family: Poppins-Light, Poppins;
                    font-weight: 300;


                }

                thead {
                    th {
                        border: none;
                        padding-left: 25px;
                        padding-right: 50px;
                        font-size: 18px;
                        font-family: Poppins-Light, Poppins;
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .section_three {
        height: 865px;
        background-image: url(../assets/images/publication.png);
        // background-color: #000000;
        background-position: center;
        background-repeat: no-repeat;
        // background-size: auto auto;
        background-size: cover;

        .main-container {
            padding: 0;
            margin: 0 auto;
            padding-top: 73px;

            .label {
                font-size: 40px;
                font-family: Poppins-Light, Poppins;
                font-weight: 300;
                text-align: left;

                .blue-color {
                    color: rgb(0, 170, 255);
                }
            }

            h4 {
                font-size: 15px;
                font-family: Poppins-Light, Poppins;
                font-weight: 300;
                letter-spacing: 0.053em;
                text-align: left;
            }

        }

        .table_section {
            // width: 50%;
            // margin: auto;

            margin-top: 50px;
            margin-bottom: 50px;
            padding: 20px 20px;
            border: 1px solid #19272f;
            border-radius: 20px;
            background-color: rgb(0 10 16 / 50%);

            .table {
                .buy_button {
                    border-color: rgb(0, 167, 44);
                    padding: 5px 30px;
                    background-color: rgba(0, 255, 68, 0.15);
                    border-radius: 20px;
                }

                .medal {
                    background-image: url(../assets/images/medal.svg);
                    width: 20px;
                    height: 38px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    float: left;
                    margin-left: 5px;
                    margin-right: 5px;
                }

                .medal-opac {
                    opacity: 0.5;
                }

                color: inherit;

                td {
                    border: none;
                    padding-bottom: 0;
                    // padding-left: 25px;
                    // padding-right: 50px;
                    font-size: 18px;
                    font-family: Poppins-Light, Poppins;
                    font-weight: 300;


                }

                thead {
                    th {
                        border: none;
                        // padding-left: 25px;
                        // padding-right: 50px;
                        font-size: 18px;
                        font-family: Poppins-Light, Poppins;
                        font-weight: 300;
                    }
                }
            }
        }
    }
    .how_it_works {
        height: 650px;
        background-image: url(../assets/images/section2bg2.svg); 
        // background-color: #000000;
        background-position: center;
        background-repeat: no-repeat;
        // background-size: auto auto;
        background-size: cover;
        .main-container{
            .step-section{
                width: 125px;
                .step-desc{
                    font-family: Poppins light;
                    font-size: 17px;
                    text-align: center;
                    padding-left: 25px;
                    padding-top: 10px; 

                }
                .steps{
                    // width: 125px;
                    height: 200px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    margin: 0 auto;
                }
                #step1{
                    background-image: url('../assets/images/step-1.svg'); 
                }
                #step2{
                    background-image: url('../assets/images/step-2.svg');
                }
                #step3{
                    background-image: url('../assets/images/step-3.svg');
                }
                #step4{
                    background-image: url('../assets/images/step-4.svg');
                }
            }
        }
    }
    .get_mobile_app{
        background-image: url(../assets/images/get_mobile_app_bg.svg); 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 100px;
        .main-container{
            .heading{
                width: 100%;
                h5{
                    font-size: 15px;
                    font-family: Poppins-Light, Poppins;
                    font-weight: 300;
                    letter-spacing: 0.053em;
                    text-align: left;
                }
                h4{
                    font-size: 40px;
                }
                p{
                    font-family: Poppins light;
                    font-size: 16px;
                    // width: 65%;
                }
            }
            .card_section{
                margin: 0;
                .button_section{
                    margin-top: 25px;
                    padding: 0;
                    .googlepay{
                        background-image: url(../assets/images/google_pay.svg);
                    }
                    .applestore{
                        background-image: url(../assets/images/apple_store.svg);
                    }
                    .app_buttons{
                        height: 70px;
                        width: 200px;
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        margin-right: 15px;
                        border-radius: 20px;
                        border: 1px solid #00aaff;
                    }
                }
            }
        }
        .b-icon-section{
            width: 100%;
            background-image: url(../assets/images/get_mobile_app_img.svg);
            height: 600px;
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
    .get_mobile_app::after{
        content: none;
    }
    .get_mobile_app::before{
        content: none;
    }
    .seamless_count{
        padding-bottom: 50px;
        padding-top: 50px;
        .filter_section {
            width: auto;
            background: transparent;
            border: none;
            margin-bottom: 0px;
            .filter_container{
                border-left:1px solid rgb(11 63 88 / 0.5);
                padding-bottom: 10px;
                &:hover{
                    background-color: #00AAFF;
                    .heading{
                      
                        color:#ffffff;
        
                    }
                    .desc{
                        color:#ffffff;
                        
                    }
                }
               
            }
            :nth-child(1){
                border-left: none;
            }
            .heading{
                font-family: Roboto Medium;
                font-size: 55px;
                color: #00AAFF;

            }
            .desc{
                font-family: Poppins light;
                font-size: 16px;
                
            }
            .line{
            width: 2px;
            background-color: #00AAFF;
            }
        }
        
    }
    .how_we_work{
        padding-bottom: 50px;
        padding-top: 50px;
        .filter_section {
            width: auto;
            background: transparent;
            border: none;
            margin-bottom: 0px;
            display: flex;
            justify-content: space-between;
            padding: 0;
            .filter_container{
                border: 1px solid #00AAFF;
                padding-bottom: 10px;
                margin: 0px 10px 0px 0px;
                max-width: 32%;
                background: #161616;
            }
    
            .number{
                font-family: Poppins Medium;
                font-size: 101px;
                color: #00AAFF;
                text-align: left;

            }
            .desc{
                font-family: Poppins Medium;
                font-size: 30px;
                text-align: left;
                
            }
            .image{
                width: 100%;
                height: 285px;
                background-position: bottom;
                background-repeat: no-repeat;
                background-size: contain;
            }
            .image1{
                background-image: url(../assets/images/team1.png);
                height:375px;
            }
            .image2{
                background-image: url(../assets/images/team2.png)
            }
            .image3{
                background-image: url(../assets/images/team3.png)
            }
            .line{
            width: 2px;
            background-color: #00AAFF;
            }
        }
    }

    .section_four {
        height: 865px;
        background-image: url(../assets/images/stone.svg);
        // background-color: #000000;
        background-position: center;
        background-repeat: no-repeat;
        // background-size: auto auto;
        background-size: cover;

        .main-container {
            padding: 0;
            margin: 0 auto;
            padding-top: 100px;

            //  padding-left: 90px;
            .label {
                font-size: 40px;
                font-family: Poppins-Light, Poppins;
                font-weight: 300;
                text-align: left;

                .blue-color {
                    color: rgb(0, 170, 255);
                }
            }

            h4 {
                font-size: 15px;
                font-family: Poppins-Light, Poppins;
                font-weight: 300;
                letter-spacing: 0.053em;
                text-align: left;
            }

            .table_section {
                // width: 50%;
                // margin: auto;

                margin-top: 50px;
                margin-bottom: 50px;
                padding: 20px 20px;

                // border: 1px solid #19272f;
                // border-radius: 20px;
                // background-color: rgb(0 10 16 / 50%);
                .interest-icon {
                    background-image: url(../assets/images/interest.svg);

                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 20%;
                    // height: 110px;

                }

                .table.table-heading {
                    border-top: 2px solid #19272f;
                    border-left: 2px solid #19272f;
                    border-right: 2px solid #19272f;
                    color: inherit;
                    width: 80%;
                    float: right;
                    background-color: rgba(0, 10, 16, 0.5);
                    margin-bottom: 0;
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    border-collapse: separate !important;

                    thead {
                        th {
                            border: none;
                            // padding-left: 25px;
                            // padding-right: 50px;
                            font-size: 18px;
                            font-family: Poppins-Light, Poppins;
                            font-weight: 300;
                            text-align: center;
                            padding-bottom: 35px;
                            padding-top: 35px;
                        }
                    }
                }

                .table.table-body {
                    background-color: rgba(0, 10, 16, 0.5);
                    border-bottom: 2px solid #19272f;
                    border-left: 2px solid #19272f;
                    border-right: 2px solid #19272f;
                    border-bottom-left-radius: 20px;
                    border-bottom-right-radius: 20px;
                    border-top-left-radius: 30px;
                    border-collapse: separate !important;
                    color: inherit;

                    .row-cell-1 {
                        border-top: 2px solid #19272f;
                        border-top-left-radius: 18px;
                    }



                    td {
                        border: none;
                        padding-bottom: 20px;
                        padding-top: 20px;
                        // padding-left: 25px;
                        // padding-right: 50px;
                        font-size: 18px;
                        font-family: Poppins-Light, Poppins;
                        font-weight: 300;
                        text-align: center;

                        .stats {
                            background-image: url(../assets/images/stats.png);
                            width: 68px;
                            height: 65px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            background-position: center;
                            margin: 0 auto;
                        }

                    }

                    .no-padd {
                        padding: 0;
                    }


                }
            }

        }

    }
}
.seamless_count_container::before{
    width: 100%;  
    content: "";
    background-image: url(../assets/images/reverse_b.svg);
    position: absolute;
    height: 100%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain; 
    margin-top: -50px;
}

// Register Page
.registration {
    .b-icon-section {
        width: 100%;
        background-image: url(../assets/images/lightB.png);
        height: 450px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-top: 180px;
        padding-left: 93px;
    }

    display: flex;

    .card {
        background: transparent linear-gradient(180deg, #00AAFF12 0%, #00558029 100%) 0% 0% no-repeat padding-box;
        border: 1px solid #00AAFF5C;
        border-radius: 22px;
        opacity: 1;

        .card-body {
            .card-title {
                margin-bottom: 20px;
            }
        }
    }
    .main-container {
        .card {
            border: none;
            width: 484px;
            margin-left: 73px;
            height: 718px;

            .card-body {
                font-family: Poppins;

                // background: transparent linear-gradient(180deg, #00AAFF12 0%, #00558029 100%) 0% 0% no-repeat padding-box;
                border: 1px solid #00AAFF5C;
                border-radius: 22px;
                opacity: 1;
                padding-left: 50px;
                padding-right: 50px;

                .card-text {
                    color: inherit;
                    font-size: 18px;
                    font-family: Poppins-ExtraLight, Poppins;
                    font-weight: 200;

                    a {
                        color: #00AAFF;
                        font-size: 18px;
                        font-family: Poppins-ExtraLight, Poppins;
                        font-weight: 200;
                        letter-spacing: 0.056em;
                        margin-left: 10px;
                    }

                }

                .card-title {
                    color: inherit;
                    text-align: left;
                    font: normal normal 300 34px/79px Poppins;
                    letter-spacing: 1.9px;
                    opacity: 1;
                    margin-bottom: 0;
                    margin-top: 37px;
                }

                form {
                    #email-group {
                        margin-bottom: 50px;
                        margin-top: 10px;
                    }

                    #name-group {
                        margin-bottom: 50px;
                    }

                    #password-group {
                        margin-bottom: 50px;
                    }

                    .form-control {
                        background: none;
                        border: none;
                        border-bottom: 1px solid #666e71;
                        color: inherit;
                        border-radius: 0;

                        &::placeholder {
                            /* Chrome, Firefox, Opera, Safari 10.1+ */
                            color: inherit;
                            opacity: 1;
                            /* Firefox */
                        }

                    }

                    // padding-top: 65px! important;
                    .card-text {
                        font-size: 14px;
                        margin-right: 20px;
                        margin-bottom: 75px;
                    }

                    padding-top: 30px;

                    #recaptcha {
                        margin-top: 45px;

                        .recaptcha_div {
                            width: 100%;

                            .re_div {
                                width: 100%;

                                div {
                                    width: 100% !important;
                                    text-align: center;

                                    iframe {
                                        // width:100%;

                                        .rc-anchor-normal {
                                            width: 100%;
                                            text-align: center;
                                            border-radius: 20px;
                                            margin: auto;

                                            .rc-anchor-normal-footer {
                                                margin: 10px 10px;

                                                .rc-anchor-pt {
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }


                            }
                        }

                    }

                    .signin {
                        margin-top: 24px;
                        margin-bottom: 40px;
                        margin-top: 40px;
                        margin-bottom: 40px;

                        height: 59px;
                        fill: rgb(0, 123, 184);
                        border-radius: 10px;
                        box-shadow: none;
                    }

                }
            }
        }
    }
}

// Navbar
.navbar {
    // margin: 45px 23px;
    padding: 45px 23px;
    background-color: transparent;

    .login-wrapper {
        margin-top: 5px;
        margin-left: 12px;
    }

    .common_sections {
        margin-top: 10px;
        display: flex;
    }

    .section_1 {
        margin-right: 25px;
        margin-left: 25px;
    }

    .section_2 {
        margin-left: 10px;
        margin-right: 16px;
    }

    .simple-link {
        margin-left: 5.5px;
        margin-right: 6px;
        padding: 1px 5px 1px 5px;

        a {
            font-size: 16px;
            font-family: Poppins-ExtraLight, Poppins;
            font-weight: 200;
            // color: #ffffff !important;
        }
    }

    .navbar-brand {
        margin-left: 1rem;
        ;
        color: #007bff;
        // transform: translate(54%, 91%);
        fill: rgb(0, 162, 255);
        font-size: 24.5px;
        font-family: Poppins-Regular, Poppins;
        letter-spacing: 0.08em;

        &:hover {
            color: #007bff;
        }
    }

    .navbar-button {
        color: #007bff;
        background-color: transparent;
        border-color: #007bff;
        font-size: 14px;
        width: 125px;
        stroke: none;
        height: 41px;
        padding-top: 6px;
        padding-left: 0px;
        padding-right: 4px;
    }

    .navbar-button:hover {
        background-color: #007bff;
        border-color: #007bff;
        color: #fff;
    }

    .input-group-prepend {
        .input-group-text {
            background-color: #fff;
            color: #afacb3;
            font-size: smaller;
        }
    }

    input {
        border-left: 0;
    }
}



html:before {
    width: 100%;
    content: "";
    // background-image: url(../assets/images/backgrnd-dark.jpg);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}