<template>
  <span class="outer-container">
    <site-header v-if="$route.meta.header === 1" />
    <b-container class="main-content theme-color" id="main-body">
      <notifications group="duplicate1" />
      <router-view />
      <contact-us v-if="$route.meta.header === 1" v-on:click="click()" />
    </b-container>
    <site-footer v-if="$route.meta.header === 1" />
  </span>
</template>  
<style>
.outer-container:before {
  width: 100%;
  content: "";
  background-image: url(assets/images/bigb.png);
  position: absolute;
  left: -30px;
  top: 0;
  height: 100%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}

:root {
  --dark-color: #000000;
  --text-color: #ffffff;
}

/* Theming */
header {
  background-color: var(--dark-color);
  color: var(--text-color);
}
/* .main-content.container {
  background-color: var(--dark-color);
  color: var(--text-color);
} */
.homePage {
  background-color: var(--dark-color);
  color: var(--text-color);
}
.loginPage .main-container #login-form-theme {
  background-color: #020e14;
}
.footer {
  background-color: var(--dark-color);
  color: var(--text-color);
}

/*   END   */
</style>
<style lang="scss">
  // Import Main styles for this application
  @import './assets/scss/style';
</style>
<script>
import SiteHeader from "@/components/SiteHeader";
import SiteFooter from "@/components/SiteFooter";
import ContactUs from "@/components/ContactUs";
export default {
  components: {
    SiteHeader,
    SiteFooter,
    ContactUs,
  },
  data() {
    return {
      isClicked: false,
      theme: ''
    };
  },
  mounted: function () {
  
    this.root = document.getElementsByClassName("theme-color");
    this.root_login = document.getElementById("login-form-theme");
    this.root_grey_dark = document.getElementsByClassName(
      "theme-color-greydark"
    );
    this.root_grey_light = document.getElementsByClassName(
      "theme-color-greylight"
    );
    this.root_transparent = document.getElementsByClassName(
      "theme-transparent"
    );
  },
  watch: {
    isClicked: {
      handler: function () {
        this.root = document.getElementsByClassName("theme-color");
    this.root_login = document.getElementById("login-form-theme");
    this.root_grey_dark = document.getElementsByClassName(
      "theme-color-greydark"
    );
    this.root_grey_light = document.getElementsByClassName(
      "theme-color-greylight"
    );
    this.root_transparent = document.getElementsByClassName(
      "theme-transparent"
    );
        // because we are using this handler immideatly we need to wait for data changes using nextTick.
        this.$nextTick(() => {
          if (this.isClicked ) {
            localStorage.removeItem('theme','dark');
            this.root.forEach((element) => {
              element.style.setProperty("background-color", "#f8f8f8");
              element.style.setProperty("color", "#000000");
            });
            this.root_grey_dark.forEach((element) => {
              element.style.setProperty("background-color", "#f8f8f8");
              element.style.setProperty("color", "#000000");
            });
            this.root_grey_light.forEach((element) => {
              element.style.setProperty("background-color", "#f8f8f8");
              element.style.setProperty("color", "#000000");
            });
            this.root_transparent.forEach((element) => {
              element.style.setProperty("background-color", "transparent");
              element.style.setProperty("color", "#000000");
            });
            // this is for login page form
            this.root_login.style.setProperty("background-color","rgb(248, 248, 248)");
            this.root_login.style.setProperty("color", "#000000");
          } else {
            localStorage.setItem('theme','dark');
            this.root.forEach((element) => {
              element.style.setProperty("background-color", "#000000");
              element.style.setProperty("color", "#ffffff");
            });
            this.root_grey_dark.forEach((element) => {
              element.style.setProperty("background-color", "#00070a");
              element.style.setProperty("color", "#ffffff");
            });
            this.root_grey_light.forEach((element) => {
              element.style.setProperty("background-color", "#00111a");
              element.style.setProperty("color", "#ffffff");
            });

            this.root_transparent.forEach((element) => {
              element.style.setProperty(
                "background-color",
                "rgba(0, 10, 16, 0.5)"
              );
              element.style.setProperty("color", "#ffffff");
            });
             // this is for login page form
            this.root_login.style.setProperty("background-color", "rgb(2 14 20 / 0.5)");
            this.root_login.style.setProperty("color", "#ffffff");
          }
        });
      },
      immediate: true,
    },
  },
  methods: {
    click() {
      this.isClicked = !this.isClicked;
    },
  },

};
</script>
