<template>
  <div class="loginPage">
    <b-alert
      :show="hasError"
      variant="danger"
      @dismissed="hasError = false" 
      dismissible
    >
      Invalid credentials
    </b-alert>
     <div class="main-container d-flex justify-content-center col-md-5 b-icon-section">
     
     </div>
      <div class="main-container d-flex justify-content-center mt-5 col-md-1 ">
     
     </div>
    <div class="main-container d-flex mt-5 col-md-6">
      <b-card id="login-form-theme" title="SignIn" header-class="font-weight-bold">
         <b-card-text>
    New User? <b-link :to="{ name: 'register' }"> Create an account </b-link>
    </b-card-text>
        <b-form @submit.prevent="submit" >
          <b-form-group id="email-group">
            <b-form-input
              v-model="$v.email.$model"
              :state="!$v.email.$invalid"
              id="email"
              placeholder="Enter Address"
              type="email"
            />
            <b-form-invalid-feedback v-show="$v.email.$dirty">
              <div class="error" v-if="!$v.email.required"
                >Email is required</div
              >
              <div class="error" v-if="!$v.email.email">Not a valid email</div>
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group id="password-group">
            <b-form-input
              v-model="$v.password.$model"
              :state="!$v.password.$invalid"
              id="password"
              placeholder="Password"
              type="password"
            />
            <b-form-invalid-feedback v-show="$v.password.$dirty">
              <div class="error" v-if="!$v.password.required">
                Password is required
              </div>
              <div class="error" v-if="!$v.password.minLength">
                Password must have at least
                {{ $v.password.$params.minLength.min }} letters
              </div>
            </b-form-invalid-feedback>
          </b-form-group>  
           <b-card-text class="text-align-right">
            Forget Password? 
            </b-card-text>        
          <b-form-group id="recaptcha">
          <label for="robot" class="col-sm-2 col-form-label"></label>
          <div class="recaptcha_div">
               <VueRecaptcha style="transform:scale(1.3);-webkit-transform:scale(1.3);
transform:scale(1.3);" class="re_div"  v-model="$v.recaptchaVerified.$model" sitekey="6LeC1-AZAAAAACmn4TN12CtvxDtSC2Q4iOtXAun4" :loadRecaptchaScript="true" @verify="onVerify"/>
          <b-form-invalid-feedback v-show="$v.recaptchaVerified.$dirty">
              <div class="error" v-if="!$v.recaptchaVerified.required"
                >Recaptcha is required</div
              >
            </b-form-invalid-feedback>
          </div>
          </b-form-group>     
          
          <b-button class="w-100 blue-button signin" type="submit" variant="primary">SIGNIN</b-button>
        </b-form>
      </b-card>
    </div>
   
  </div>
</template>
<style lang="scss">
.card-body{
  overflow: none !important;
}
</style>
<script>
  import { validationMixin } from 'vuelidate'
  import { required, email, minLength } from 'vuelidate/lib/validators'
  import { mapActions } from 'vuex'
  import VueRecaptcha from 'vue-recaptcha';

  export default {
    components: { VueRecaptcha },
    name: 'Login',
    mixins: [validationMixin],
    data() {
      return {
        email: '',
        password: '',
        hasError: false,
        robot: true,
        recaptchaVerified: ''
        // visible: false
      }
    },
    validations: {
      email: { required, email },
      password: { required, minLength: minLength(6) },
      recaptchaVerified: { required }
    },
     mounted() {
     },
    methods: {
      ...mapActions('auth', ['login']),
      submit() {
        if (!this.$v.$invalid) {
          if(this.robot){
            // this.$router.push({ name: 'home' })
            this.login({
            email: this.email,
            password: this.password
          })
          .then(() => {
            this.$router.push({ name: 'Dashboard' })
          })
          .catch(() => {
            this.hasError = true
          })
          }
         
          
          
        }
        else{
          this.$v.$touch()
        }
      },
       onVerify: function (response) {
      if (response) {
        this.robot = true;
        this.recaptchaVerified = true;
      }

    },
    }
  }
</script>
