<template>
  <div class="registration ">
    <b-alert
      :show="!!errors"
      variant="danger"
      @dismissed="errors = null"
      dismissible
    >
      <div v-for="(error, index) in errors" :key="index">{{ error[0] }}</div>
    </b-alert>

    <!-- <div class="alert alert-info" role="alert">You need a registration code to sign up. <a href="https://contactmarcus.paperform.co/">Contact us</a> to request a code.</div> -->
    <div
      class="main-container d-flex justify-content-center  col-md-5 b-icon-section"
    ></div>
        <div
      class="main-container d-flex justify-content-center mt-5 col-md-1"
    ></div>
    <div class="main-container d-flex mt-5 col-md-6">
      <b-card
        id="register-form-theme"
        title="Registration"
        header-class="font-weight-bold"
      >
        <b-form @submit.prevent="submit">
          <b-form-group id="name-group">
            <b-form-input
              v-model="$v.name.$model"
              :state="!$v.name.$invalid"
              id="name"
              placeholder="Name"
              type="text"
            />
            <b-form-invalid-feedback v-show="$v.name.$dirty">
              <div class="error" v-if="!$v.name.required">Name is required</div>
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group id="email-group">
            <b-form-input
              v-model="$v.email.$model"
              :state="!$v.email.$invalid"
              id="email"
              placeholder="Email"
              type="email"
            />
            <b-form-invalid-feedback v-show="$v.email.$dirty">
              <div class="error" v-if="!$v.email.required">
                Email is required
              </div>
              <div class="error" v-if="!$v.email.email">Not a valid email</div>
            </b-form-invalid-feedback>
          </b-form-group>

          <b-form-group id="password-group">
            <b-form-input
              v-model="$v.password.$model"
              :state="!$v.password.$invalid"
              id="password"
              placeholder="Password"
              type="password"
            />
            <b-form-invalid-feedback v-show="$v.password.$dirty">
              <div class="error" v-if="!$v.password.required">
                Password is required
              </div>
              <div class="error" v-if="!$v.password.minLength">
                Password must have at least
                {{ $v.password.$params.minLength.min }} letters
              </div>
            </b-form-invalid-feedback>
          </b-form-group>
          <b-form-group id="recaptcha">
            <!-- <label for="robot" class="col-sm-2 col-form-label"></label> -->
            <div class="recaptcha_div">
              <VueRecaptcha
                style="
                  transform: scale(1.3);
                  -webkit-transform: scale(1.3);
                  transform: scale(1.3);
                "
                class="re_div"
                v-model="$v.recaptchaVerified.$model"
                sitekey="6LeC1-AZAAAAACmn4TN12CtvxDtSC2Q4iOtXAun4"
                :loadRecaptchaScript="true"
                @verify="onVerify"
              />
              <b-form-invalid-feedback v-show="$v.recaptchaVerified.$dirty">
                <div class="error" v-if="!$v.recaptchaVerified.required">
                  Recaptcha is required
                </div>
              </b-form-invalid-feedback>
            </div>
          </b-form-group>

          <!-- <b-form-group id="password-confirm-group">
            <b-form-input
              v-model="$v.password_confirmation.$model"
              :state="!$v.password_confirmation.$invalid"
              id="password-confirm"
              placeholder="Confirm Password"
              type="password"
            />
            <b-form-invalid-feedback v-show="$v.password.$dirty">
              <div class="error" v-if="!$v.password.sameAs">
                Both passwords must be identical
              </div>
              <div class="error" v-if="!$v.password.minLength">
                Password must have at least
                {{ $v.password.$params.minLength.min }} letters
              </div>
            </b-form-invalid-feedback>
          </b-form-group> -->
          <b-form-group id="terms">
            <b-form-checkbox v-model="$v.terms.$model"></b-form-checkbox>
            <p>Company Account</p>
          </b-form-group>

          <b-button type="submit" variant="primary" class="w-100 blue-button"
            >Register</b-button
          >
        </b-form>
        <p class="text-center mt-3">
          Or <b-link :to="{ name: 'login' }">login</b-link> to your account!
        </p>
      </b-card>
    </div>
  </div>
</template>
<script>
import { validationMixin } from "vuelidate";
// import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'
import { required, email, minLength } from "vuelidate/lib/validators";
import { mapActions } from "vuex";
  import VueRecaptcha from 'vue-recaptcha';

export default {
  components: { VueRecaptcha },
  name: "Register",
  mixins: [validationMixin],
  data() {
    return {
      name: "",
      email: "",
      terms: [],
      robot: false,
      recaptchaVerified: "",
      password: "",
      // password_confirmation: '',
      errors: null,
    };
  },
  validations: {
    name: { required },
    terms: {},
    email: { required, email },
    recaptchaVerified: { required },
    password: { required, minLength: minLength(8) },
    // password_confirmation: { sameAsPassword: sameAs('password') }
  },
  methods: {
    ...mapActions("auth", ["register"]),
    submit() {
      this.$v.$touch();
      if (!this.$v.$invalid) {
        if (this.robot) {
          this.register({
            name: this.name,
            terms: this.terms,
            email: this.email,
            password: this.password,
            // password_confirmation: this.password_confirmation,
          })
            .then(() => {
              this.$router.push({ name: "home" });
            })
            .catch(({ response }) => {
              if (response.status == 422) {
                this.errors = response.data.errors;
              }
            });
        }
      }
    },
    onVerify: function (response) {
      if (response) {
        this.robot = true;
        this.recaptchaVerified = true;
      }
    },
  },
};
</script>
